<cza-order>
  <ng-content select=".album-quote"></ng-content>

  <p>
    <strong>SZANOWNI PAŃSTWO</strong>
  </p>

  <p>
    <strong>Galeria Farmapress</strong> jest nową inicjatywą edytorską Wydawnictwa Farmapress - od 1992 r. wydawcy
    "Czasopisma Aptekarskiego".
    <ng-content select=".album-artist"></ng-content>
  </p>

  <p>
    Album można otrzymać po dokonaniu wpłaty na konto:
    <strong>13&nbsp;1130&nbsp;1017&nbsp;0200&nbsp;0000&nbsp;0005&nbsp;1195</strong><br>
    Po dokonanej wpłacie wystawiamy fakturę VAT.
  </p>

  <ng-content select=".album-description"></ng-content>
</cza-order>