<cza-album>

  <!-- ALBUM-QUOTE -------------------------------------->
  <div class="album-quote">
    <p class="quote">
      W jego rzeźbach nie barwa wzbudza emocje odbiorcy; to ślady dłuta - pewne i surowe, wręcz minimalistyczne, inny
      relief figur i tła, to szczególne zróżnicowanie przestrzenne zdawałoby się płaskiej powierzchni deski... Dłuto
      artysty pracuje z aptekarską precyzją i wyważeniem, nie ma zbędnych pociągnięć, każdy ślad ma swoją rolę i
      wymowę.
    </p>
    <p class="quote-author-name">prof. Małgorzata Tafil-Klawe</p>
    <p class="quote-author-info">
      Kierowniki Katedry i Zakładu Fizjologii Człowieka Collegium Medicum w Bydgoszczy, UMK w Toruniu.
      Jest autorką artystycznych adaptacji zdjęć z teleskopu Hubble'a. Maluje także pejzaże oraz tworzy ikony,
      wykorzystując deski z naturalnymi słojami i sękami.
    </p>
    <p class="quote-source">
      [w:] Galeria Farmapress, Jan Harasimowicz, Wydawnictwo Farmapress, s. 5
    </p>
  </div>

  <!-- ALBUM-ARTIST -------------------------------------->
  <span class="album-artist">
    W ramach projektu proponujemy Państwu album artysty<br>
    <strong>Jana Harasimowicza</strong>, <br>
    farmaceuty współpracującego z "Czasopismem Aptekarskim".
  </span>

  <!-- ALBUM-ARTIST -------------------------------------->
  <div class="album-description">
    <p>
      Objętość albumu 40 stron, format 205x285 mm, oprawa twarda, lakierowana.
    </p>
  </div>

</cza-album>