<cza-book>
  <p class="author">
    <strong>
      dr hab. n. farm. Leszek Marszałł<br>
      <small>aptekarz praktyk z apteki "Pod Orłem" w Nowem nad Wisłą</small>
    </strong>
  </p>

  <h2>Receptura apteczna płynnych postaci leków w teorii i&nbsp;praktyce</h2>

  <p>
    Format 168x238 mm, s. 236, 35 tabel, 3 wzory dokumentów, 12 rysunków, piśmiennictwo, oprawa miękka lakierowana,<br>
    ISBN 978-83-64388-05-7
  </p>

  <p>
    <strong>Koszt książki</strong> (wraz z kosztem pakowania i przesyłki kurierskiej)<br>
    <strong>dla prenumeratorów</strong> "Czasopisma Aptekarskiego" wynosi <strong>85,00 zł</strong> brutto,<br>
    zaś <strong>dla nieprenumeratorów 103,00 zł</strong> brutto.
  </p>
</cza-book>