<div>
  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <section class="center" style="border-bottom: none; padding-bottom: 0; margin-bottom: 10px;">
    <a routerLink="/subscription" style="width: 100%">
      <div
        style="padding:0.5rem 1rem; background-color: var(--main-color); color: var(--background-color); text-align:center; margin-bottom: 0.5rem; width: 100%">
        5 pkt edukacyjnych dla aptekarzy, farmaceutów i lekarzy <br>
        za prenumeratę „Czasopisma Aptekarskiego”
      </div>
    </a>

  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- <section class="center">
    <img src="/assets/temporary/cza-2020-04/cza2020-04-page05-wishes-easter.jpg" class="img-max-width-big"
      style="margin-bottom: 0;" alt="Życzenia z okazji Świąt Wielkiej Nocy">
  </section> -->

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Polski Komitet Zielarski, Sekcja Fitoterapii Polskiego Towarzystwa Lekarskiego -->
  <article>
    <div style="font-size:1.2rem;line-height: 1.4rem;text-align:center">
      <p>
        <strong>Polski Komitet Zielarski, Sekcja Fitoterapii Polskiego Towarzystwa Lekarskiego</strong> <br>
        oraz <br>
        <strong>Instytut Włókien Naturalnych i Roślin Zielarskich</strong>
      </p>

      <p style="text-align:center; margin-top:0.5rem">zapraszają do udziału<br>
        w Jubileuszowej Konferencji Naukowej <br>
        zorganizowanej z okazji 90-lecia powstania Polskiego Komitetu Zielarskiego
      </p>

      <p style="margin-top: 0.3rem;margin-bottom: 0.2rem;">
        <strong style="font-size: 1.2em;">ZIOŁA W XXI WIEKU</strong>
      </p>

      <p>
        która odbędzie się 11-12 czerwca 2021 r.<br>
        w Centrum Hotelowo-Konferencyjnym „Delicjusz” w Trzebawiu-Rosnówku,<br>
        ul.&nbsp;Poznańska 1, 62-060 Stęszew, <a href="https://www.delicjusz.pl" target="_blank">www.delicjusz.pl</a>
      </p>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> szczegóły w „Czasopiśmie Aptekarskim” nr 5/2020</a>
      </div>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Państwowa Wyższa Szkoła Zawodowa w Koninie – Wydział Nauk o Zdrowiu -->
  <article>
    <div style="font-size:1.2rem;line-height: 1.4rem;text-align:center">
      <p>
        <strong>Państwowa Wyższa Szkoła Zawodowa w Koninie – Wydział Nauk o Zdrowiu</strong> <br>
        oraz<br>
        <strong>Instytut Włókien Naturalnych i Roślin Zielarskich w Poznaniu</strong>
      </p>

      <p style="text-align:center; margin-top:0.5rem">zapraszają do udziału w 3. Konferencji Naukowej</p>

      <p style="margin-top: 0.3rem;margin-bottom: 0.2rem;">
        <strong style="font-size: 1.2em;">ZDROWIE, SPORT, URODA</strong>
      </p>

      <p>
        która odbędzie się 26 listopada 2020 r. <br>
        w Centrum Konferencyjnym PWSZ w Koninie,<br>
        ul.&nbsp;Księdza Jerzego Popiełuszki 4
      </p>
    </div>

    <div class="mt-3">
      <h4 style="text-align: center;">Patronat honorowy</h4>
      <p style="text-align: justify;">prof. dr hab. <strong>Mirosław Pawlak</strong> – rektor Państwowej Wyższej Szkoły
        Zawodowej w Koninie • prof. dr hab. inż. <strong>Małgorzata Zimniewska</strong> – dyrektor Instytutu Włókien
        Naturalnych i Roślin Zielarskich • prof. dr hab. med. <strong>Jerzy Woy-Wojciechowski</strong> – honorowy prezes
        Polskiego Towarzystwa Lekarskiego • <strong>Piotr Korytkowski</strong> Prezydent Miasta Konina • <strong>Tadeusz
          Wojdyński</strong> – Przewodniczący Rady Miasta Konin • <strong>Rada Naukowa Czasopisma Aptekarskiego</strong>
        • <strong> Polski Komitet Zielarski </strong> • <strong>Sekcja Fitoterapii Polskiego Towarzystwa
          Lekarskiego</strong> • <strong>Okręgowa Izba Pielęgniarek i Położnych w Koninie</strong></p>

      <h4 style="text-align: center;">PROGRAM KONFERENCJI</h4>
      <p style="text-align: justify;">otwarcie konferencji • wystąpienia Gości • wykład inauguracyjny – prof. dr hab.
        <strong>Jerzy Woy-Wojciechowski</strong>: „Wpływ środowiska na zdrowie Polaków”</p>

      <p style="text-align: center;" class="mt-2"><strong>Sesja plenarna 1</strong> <br>prowadzą:
        mgr <strong>Marek Chorzewski</strong>, dr <strong>Jerzy Jambor</strong></p>

      <p class="mt-2" style="text-align: justify;">
        <strong>wykłady:</strong> dr <strong>Karolina Wielgus</strong> (kierownik Zakładu Biotechnologii IWNiRZ):
        „Zdrowie w trzeciej dekadzie XXI wieku – kluczowe
        wyzwania wg WHO” • dr hab. <strong>Maciej Wilski</strong> (Zakład Adaptowanej Aktywności Fizycznej AWF w
        Poznaniu, członek Special Olympics Regional Research Collaboration Centre, koordynator międzynarodowego programu
        Strong Minds): „Znaczenie wiedzy psychologicznej w naukach o zdrowiu” • dr hab. <strong>Dorota Talarska</strong>
        (Kierownik Pracowni Pielęgniarstwa Społecznego Katedry Profilaktyki Zdrowotnej, UM w Poznaniu): „Zapotrzebowanie
        na wsparcie u osób starszych” • dr <strong>Andrzej Ostrowicz</strong> (przewodniczący Rady Ekspertów Polskiego
        Komitetu Zielarskiego, przedstawiciel European Scientific Cooperative on Phytotherapy): „Medycyna naturalna w
        XXI wieku” • prof. dr hab. <strong>Waldemar Buchwald</strong> (prezes Sekcji Fitoterapii PTL, Kierownik Zakładu
        Botaniki, Hodowli i Agrotechniki Rooelin Zielarskich IWNiRZ w Poznaniu): „Kierunki wykorzystania roślin
        zielarskich” • dr hab. <strong>Justyna Gornowicz-Porowska</strong> (kierownik Katedry Naturalnych Surowców
        Leczniczych i Kosmetycznych, UM w Poznaniu): „Czarna kosmetologia – pielęgnacja z wykorzystaniem węgla
        aktywnego” • dr <strong>Jarosław Janowski</strong> (Zakład Teorii Sportu, AWF w Poznaniu): „Wspomaganie
        treningu, potrzeby a zdrowy rozsądek” • otwarcie sesji plakatowej oraz prezentacja najnowocześniejszego
        urządzenia służącego do pomiaru elastycznooeci skóry
      </p>

      <p style="text-align: center;" class="mt-2"><strong>
          Sesja 2a „Opieka i aktywizacja osób starszych”</strong> – prowadzą: mgr <strong>Danuta Grodzka</strong>, mgr
        <strong>Ewa Wojskunowicz</strong>, dr <strong>Bartosz Chmielewski</strong>
      </p>

      <p class="mt-2" style="text-align: justify;">
        <strong>wykłady:</strong> dr hab. <strong>Marcin Ożarowski</strong>zych” • dr <strong>Joanna
          Foksowska-Flaczyk</strong> (IWNiRZ w Poznaniu): „Rola mikroflory jelitowej oraz probiotyków w prewencji
        chorób” • mgr <strong>Radosław Karczewski</strong> (kierownik Dziennego Domu Opieki w Koninie): „Instytucjonalne
        formy aktywizacji i opieki nad seniorem w miejscu zamieszkania” • mgr <strong>Alina Babecka</strong> (PWSZ w
        Koninie): „Jakość życia osób starszych” • <strong>Anita Maćczak, Alicja Dorabiała</strong> (studentki PWSZ w
        Koninie): „Aktywizacja osób starszych w Domach Pomocy Społecznej” • dyskusja
      </p>

      <p style="text-align: center;" class="mt-2">
        <strong>Sesja 2b „Naturalne wspomaganie w sporcie”</strong><br> prowadzą: dr <strong>Agnieszka
          Andrearczyk-Woźniakowska</strong>, dr <strong>Ewa Janeczek</strong>
      </p>

      <p class="mt-2" style="text-align: justify;">
        <strong>wykłady:</strong> prof. dr hab. <strong>Maciej Tomczak</strong> (kierownik Zakładu Psychologii AWF w
        Poznaniu, PWSZ w Koninie): „Wsparcie psychologiczne w sporcie wyczynowym” • dr hab. <strong>Małgorzata
          Waligórska</strong> (PWSZ w Koninie): „Antyoksydanty dietetyczne jako wsparcie sportowców” • dr
        <strong>Justyna Baraniak</strong> (IWNiRZ w Poznaniu): „Problemy z surowcami w suplementach diety” • mgr
        <strong>Karol Kościelski</strong> (licencjonowany doradca probiotechnologii w firmie Primabiotic Konin):
        „Probiotyki – zdrowie ukryte w fermentacji” • referaty studenckie • dyskusja
      </p>

      <p style="text-align: center;" class="mt-2">
        <strong>Sesja 2c „Zielona fala w kosmetyce”</strong> <br>prowadzą: mgr <strong>Iwona Nolbert</strong>, mgr
        <strong>Marek Chorzewski</strong>
      </p>

      <p class="mt-2" style="text-align: justify;">
        <strong>wykłady:</strong> dr <strong>Ewelina Petzke</strong> (PWSZ w Koninie, Sekcja Fitoterapii PTL): „Zielona
        Kosmetyka” • dr <strong>Joanna Artkop</strong> (Mazowiecka Uczelnia Publiczna w Płocku, biegła sądowa): „Prawna
        i etyczna strona kosmetologii” • dr <strong>Małgorzata Kania-Dobrowolska</strong> (IWNiRZ w Poznaniu):
        „Nutrikosmetyki – ciekawa podgrupa suplementów diety” • dr <strong>Alicja OEliwowska</strong> (PWSZ w Koninie,
        Polski Komitet Zielarski): „Fitoestrogeny w kosmetologii” • dyskusja
      </p>

      <p class="mt-2">Organizatorzy przewidują czas trwania konferencji od godz. 9.30 do godz. 15.30</p>

      <p class="mt-2" style="text-align: justify;">
        <strong>Komitet Naukowy:</strong> prof. dr hab. Jerzy Woy-Wojciechowski (przewodniczący), dr Edyta Bielik, prof.
        dr hab. Waldemar Buchwald, dr hab. Justyna Gornowicz-Porowska, dr Jerzy Jambor, dr Jarosław Janowski,
        prof. dr hab. Bogdan Kędzia, dr Andrzej Ostrowicz, prof. dr hab. Marcin Ożarowski, prof. dr hab. Gerard Nowak,
        prof. dr hab. Ryszard Strzelczyk, dr hab. Dorota Talarska, prof. dr hab. Maciej Tomczak, dr hab. Małgorzata
        Waligórska, dr Karolina Wielgus, dr hab. Maciej Wilski</p>

      <p class="mt-2" style="text-align: justify;">
        <strong>Patronat edukacyjny:</strong> Czasopismo Aptekarskie • Patronat medialny: Przemysł
        Farmaceutyczny – Przemysł Kosmetyczny, Postępy Fitoterapii, Herba Polonica</p>

      <p class="mt-2" style="text-align: justify;">
        <strong>Komitet Organizacyjny:</strong> dr Edyta Bielik (przewodnicząca), dr Agnieszka
        Andrearczyk-Woźniakowska, dr Bartosz Chmielewski, mgr Marek Chorzewski, mgr Tomasz Elsner, mgr Danuta Grodzka,
        dr Jerzy Jambor, dr Ewa Janeczek, dr Janusz Kwieciński, mgr Iwona Nolbert, mgr Iwona Powaga, dr Alicja
        Śliwowska, mgr Ewa Wojskunowic</p>

      <p class="mt-2" style="text-align: justify;">
        <strong>Sekretariat konferencji:</strong> Państwowa Wyższa Szkoła Zawodowa w Koninie – Wydział Nauk o Zdrowiu •
        Iwona Powaga (tel. 517213726), e-mail: <a
          href="mailto:sekretariat.wnz@konin.edu.pl">sekretariat.wnz@konin.edu.pl</a></p>
    </div>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- 12th International Symposium on Chromatography of Natural Products -->
  <article>
    <div style="font-size:1.2rem;line-height: 1.4rem;text-align:center">
      <p>
        <strong>12th</strong> International Symposium on Chromatography of Natural Products<br>
        <small>jointly with</small><br>
        <strong>11th</strong> International Conference on TCM Pharmaceutical Analysis<br>
        <small>&</small><br>
        Annual Meeting of Specialty Committee of TCM Pharmaceutical Analysis
      </p>
      <p class="mt-2">
        <strong>26-29 May 2021 r. | Lublin, Poland</strong>
      </p>
    </div>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- ALOESY – rośliny lecznicze o rosnącym znaczeniu we współczesnej medycynie -->
  <article>
    <img src="/assets/cza-2020-05/aloes-opakowania-600px.jpg"
      style="display:block; margin-left: auto; margin-right: auto; margin-bottom: 1em;" class="img-max-width-big"
      alt="Strona 12 'Czasopisma Aptekarskiego' nr 05-2020">

    <header>
      <!-- <h3>Nadtytuł</h3> -->
      <h2>ALOESY – rośliny lecznicze o rosnącym znaczeniu we współczesnej medycynie</h2>
      <p class="author-name">dr n. farm. Jerzy JAMBOR</p>
      <p class="author-position">Polski Komitet Zielarski</p>
    </header>

    <div class="multi-column-3">

      <p>
        Aloesy to jedne z najbardziej niezwykłych roślin leczniczych. Zawierają metabolity o bardzo
        wyraźnej i wielokierunkowej aktywności farmakologicznej. Od czasów starożytnych zawsze należały do
        najważniejszych środków leczniczych. Na przełomie XX i XXI wieku, z uwagi na potwierdzone właściwooeci
        immunomodulujące,
        aloesy stały się w konwencjonalnej medycynie przedmiotem szczególnego zainteresowania.
      </p>

      <p>
        Z liści aloesu otrzymuje się dwa farmaceutyczne produkty o całkiem odmiennym składzie i zastosowaniu.
        Z soku aloesowego pozyskiwanego z komórek perycyklicznych, po wysuszeniu
        otrzymuje się alonę, natomiast z komórek parenchymatycznych otrzymuje się żel aloesowy.
        Głównym składnikiem alony są glikozydy antranoidowe o silnych właściwościach przeczyszczających. Z kolei zawarte
        w żelu aloesowym polisacharydy i glikoproteiny są substancjami wykazującymi działanie immunotropowe.
      </p>

      <p>
        Rodzaj aloes (<em>Aloe</em>) obejmuje znaczną liczbę gatunków. W starszej literaturze botanicznej podawano
        zwykle takie liczby jak: 180, 275, 280, 330, 360, a nawet 600. Obecnie uważa się, że liczba gatunków rodzaju
        aloes (<em>Aloe</em>) mieści się między 330 a 360. Najczęściej wymienianymi w literaturze farmaceutycznej
        gatunkami są: aloes zwyczajny (<em>Aloe barbadiensis, Aloe vera</em>), aloes kolczasty (<em>Aloe ferox</em>)
        oraz aloes drzewiasty (<em>Aloe arborescens</em>). Czasami wymienia się też aloes kłosowaty (<em>Aloe
          spicata</em>) oraz aloes afrykański (<em>Aloe africana</em>), są to dwa gatunki bardzo podobne do aloesu
        kolczastego. Wymienione
        aloesy to typowe rośliny lecznicze, opisywane we wszystkich podręcznikach farmakognozji, czy
        też botaniki farmaceutycznej. W literaturze ogrodniczej spotkać można też opisy wielu innych
        gatunków, takich jak np.: aloes ościsty (<em>Aloe aristata</em>) i aloes tygrysi (<em>Aloe variegata</em>). Są
        to jednak wyłącznie rośliny ozdobne.
      </p>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 5/2020</a>
      </div>
      <p>s. 12-17</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Udar mózgu w czasie pandemii – reaguj! -->
  <article>
    <header>
      <!-- <h3>Nadtytuł</h3> -->
      <h2>Udar mózgu w czasie pandemii – reaguj!</h2>
      <!-- <h4>#NieTraćSzansyNaŻycie</h4> -->
      <!-- <p class="author-name">autor</p>
      <p class="author-position">???</p> -->
    </header>

    <div class="multi-column-3">

      <p>
        <strong>
          Podczas gdy cały świat z niepokojem śledzi rozwój pandemii COVID-19,
          każdego dnia miliony ludzi zapada na zagrażające życiu i wymagające
          natychmiastowej pomocy medycznej choroby, takie jak m.in. udar
          mózgu i zawał serca. W Polsce wiele osób nie wie jak w obecnej
          sytuacji epidemicznej zareagować i gdzie szukać pomocy,
          nawet jeśli dotykają je poważne dolegliwości. Eksperci apelują
          #NieTraćSzansyNaŻycie i w sytuacji wystąpienia objawów udaru
          mózgu niezwłocznie skontaktuj się z pogotowiem ratunkowym.
        </strong>
      </p>

      <p style="text-align: left;"><br>
        <strong>
          ZOSTAŃ W DOMU, ALE JEŚLI ZAUWAŻYSZ OBJAWY UDARU MÓZGU, REAGUJ NATYCHMIAST!
        </strong>
      </p>

      <p><br>
        <em>
          – Ograniczenia systemowe związane z walką z epidemią COVID-19 nie obejmują leczenia
          chorób zagrażających życiu. Każdy, nawet osoba będąca na kwarantannie, powinna tak szybko jak
          to możliwe telefonicznie zaalarmować pogotowie ratunkowe w przypadku gdy podejrzewa u siebie
          lub innej osoby udar mózgu. W takich sytuacjach unikanie kontaktu z personelem medycznym
          w obawie przed zakażeniem koronawirusem jest błędem
        </em> – podkreśla prof. Bartosz Karaszewski,
        Kierownik Katedry Neurologii Gdańskiego Uniwersytetu Medycznego, prezes Stowarzyszenia
        na Rzecz Rozwoju i Promocji Nauk Neurologicznych. – <em>
          Osoby, które zachorują na udar
          mózgu podczas pandemii, mogą otrzymać skuteczne leczenie podobnie, jak w normalnych warunkach
          epidemicznych. Z kolei pacjent z udarem mózgu, u którego jednocześnie zostanie rozpoznana
          infekcja COVID 19 będzie leczony w oddziale udarowym tzw. szpitala jednoimiennego, czyli leczącego chorych z
          tą
          infekcją
        </em> – wyjaśnia prof. Karaszewski.
      </p>

      <p style="text-align: left;"><br>
        <strong>
          UDAR MÓZGU ZAGRAŻA ZYCIU TAKŻE W CZASIE PANDEMII
        </strong>
      </p>

      <p><br>
        Udar mózgu to jedna z tych powszechnych, groźnych i wymagających natychmiastowej pomocy
        chorób, na które ryzyko zachorowania nie maleje w okresie pandemii. W Polsce co roku ok. 80&nbsp;000 osób
        doznaje
        udaru mózgu, a ok. 30&nbsp;000 osób z jego powodu umiera. Nie możemy zapomnieć, że schorzenie to może dotknąć
        każdego, bez względu na wiek czy płeć. Każdy powinien znać podstawowe objawy tej choroby, takie jak np.:
        opadnięty kącik ust, zaburzona
        mowa, niedowład nogi i/lub ręki, zawroty głowy, zaburzenia widzenia – przy czym nie wszystkie te symptomy muszą
        wystąpić jednocześnie.
      </p>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 5/2020</a>
      </div>
      <p>s. 34-35</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Opowieść o... „Siedmiu cudach świata” (i o ich kliku następnych wersjach) -->
  <article>
    <header>
      <!-- <h3>Nadtytuł</h3> -->
      <h2>Opowieść o... „Siedmiu cudach świata” (i o ich kliku następnych wersjach)</h2>
      <p class="author-name">dr hab. n. farm. Aleksander DRYGAS</p>
      <p class="author-position">Ogólnopolski Zespół Sekcji Historii Farmacji PTFarm.</p>
    </header>

    <div class="multi-column-3">

      <p>
        Na wstępie dość istotne pytanie: dlaczego operujemy cyfrą „siedem”, a nie – na przykład
        – cyfrą „9” czy „11”, „15” a nawet „21” – można by tak w nieskończoność podawać cyfry,
        oczywiście – nieparzyste, mając na myśli wielkie i niebywałe wręcz budowle świata (bo o nie
        tu przede wszystkim chodzi), stworzone ręką człowieka od zarania jego cywilizacyjnych dziejów, a które tak
        uwiodły pokolenia już od czasów starożytnych. Nasuwa się jednak pytanie – dlaczego wymienia się ich tylko
        siedem? Przecież takich wielkich i wspaniałych budowli, zbudowanych jeszcze w starożytnooeci, było o wiele
        więcej
        aniżeli wspomniane siedem; stąd kolejne pytanie – dlaczego właśnie... siedem? Odpowiedź jest prosta: bo już w
        czasach starożytnych cyfra „7” uchodziła za... świętą. Ba! Wręcz otaczano ją super czcią!!! Nie może zatem
        dziwić fakt,
        że w starożytnej legendzie ta święta cyfra obejmowała także siedmiu mędrców starożytnej Grecji, którzy musieli
        się czymś ekstra wielkim odznaczyć. Głównie zaś trzeba się było wykazaæ mądrością życiową i praktyczną. Takie
        zaś
        cechy musiały dotyczyć przede wszystkim polityków, prawodawców i filozofów z okresu lat 620-550 p.n.e. Słynny i
        znany filozof grecki Platon wymienił ich przecież siedmiu: Talesa (tego z Miletu), Pittakosa
        z Mityleny, Briasa z Prieny, Solona (tego z Aten, który przeprowadził reformy gospodarcze
        i ustrojowo-prawne, które umożliwiły rozwój demokracji ateńskiej), nadto Kleobulosa, Mysona i Chilona (a warto
        „przy okazji” dodać, że w innych kanonach występowali niekiedy ci sami ludzie, jak np. znany już nam
        Myson, a nadto Periander z Koryntu, a także skądinąd miły nam sercu i dzisiaj bajkopisarz Ezop oraz inni).
      </p>

      <p>
        Poza tymi wybitnymi jednostkami odpowiedni szacunek budziły (jak już wspomniano na
        wstępie) budowle. Te – z oczywistych względów – musiały być niezwykłe, a więc majestatyczne,
        artystyczne, jednym słowem wspaniałe, w dodatku stworzone ręką człowieka i to koniecznie
        w liczbie siedem (wszak była to święta cyfra!). A tymi budowlami ekstra miały być: 1. piramidy egipskie, 2.
        wiszące ogrody Semiramidy, 3. Świątynia Artemidy w Efezie, 4. posąg Zeusa w Olimpii, 5. Mauzoleum w
        Halikarnasie,
        6. Kolos Rodyjski i 7. Latarnia morska na wyspie Faros.
      </p>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 5/2020</a>
      </div>
      <p>s. 35-38</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Strona 25-27 'Czasopisma Aptekarskiego' nr 04-2020 -->
  <section class="center">
    <img src="/assets/cza-2020-04/cza2020-04-p25-600px.jpg" class="img-max-width-big"
      alt="Strona 25 'Czasopisma Aptekarskiego' nr 04-2020">

    <img src="/assets/cza-2020-04/cza2020-04-p26-600px.jpg" class="img-max-width-big mt-2"
      alt="Strona 26 'Czasopisma Aptekarskiego' nr 04-2020">

    <img src="/assets/cza-2020-04/cza2020-04-p27-600px.jpg" class="img-max-width-big mt-2"
      alt="Strona 27 'Czasopisma Aptekarskiego' nr 04-2020">

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 4/2020</a>
      </div>
      <p>s. 25-27</p>
    </footer>
  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Elżbieta Piotrowska-Rutkowska prezesem Naczelnej Rady Aptekarskiej -->
  <article>
    <header>
      <!-- <h3>Nadtytuł</h3> -->
      <h2>Elżbieta Piotrowska-Rutkowska prezesem Naczelnej Rady Aptekarskiej</h2>
    </header>

    <div class="text-on-the-left-or-bottom">
      <p class="text-on-left-near-img">
        W imieniu Prezydium Zjazdu, gratulacje wyboru na prezesa Naczelnej Rady Aptekarskiej VIII kadencji (2020-2024)
        mgr farm. Elżbiety Piotrowskiej-Rutkowskiej składa delegat z województwa opolskiego, długoletni działacz
        samorządu aptekarskiego mgr farm. Andrzej Prygiel
      </p>

      <img src="/assets/cza-2020-03/cza03-str03-fot1.jpg" class="img-near-text"
        alt="Gratulacje dla mgr farm. Elżbiety Piotrowskiej-Rutkowskiej">
    </div>

    <div class="text-on-the-left-or-bottom mt-3">
      <p class="text-on-left-near-img">
        Na zdjęciu goście specjalni VIII Krajowego Zjazdu Aptekarzy w towarzystwie prezesa NRA mgr farm. Elżbiety
        Piotrowskiej-Rutkowskiej: przewodniczący Sejmowej Komisji Zdrowia Tomasz Latos, wicemarszałkini Sejmu Małgorzata
        Kidawa-Błońska i wicemarszałkini Senatu Gabriela Morawska-Stanecka
      </p>

      <img src="/assets/cza-2020-03/cza03-str03-fot2.jpg" class="img-near-text"
        alt="Elżbiety Piotrowskiej-Rutkowskiej i goście specjalni">
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> "Czasopismo Aptekarskie" nr 3/2020</a>
      </div>
      <p>s. 3</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- ALEKSANDER DRYGAS -->
  <section class="center">
    <header>
      <!-- <h3>Nadtytuł</h3> -->
      <h2>ALEKSANDER DRYGAS</h2>
      <h3 style="font-style: normal;" class="mt-1">obchodził swój jubileusz w gronie rodziny i przyjaciół</h3>
    </header>

    <img src="/assets/cza-2020-03/cza03_str26.jpg" class="img-max-width-big" alt="Aleksander Drygas str 26">
    <img src="/assets/cza-2020-03/cza03_str27fragm.jpg" class="img-max-width-big" alt="Aleksander Drygas str 27">

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 3/2020</a>
      </div>
      <p>s. 25-27</p>
    </footer>
  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- CZY POLSKIE APTEKI I PACJENCI SĄ GOTOWI NA OPIEKĘ FARMACEUTYCZNĄ? -->
  <article>
    <header>
      <h3>Pod patronatem edukacyjnym „Czasopisma Aptekarskiego”</h3>
      <h2>CZY POLSKIE APTEKI I PACJENCI SĄ GOTOWI NA&nbsp;OPIEKĘ FARMACEUTYCZNĄ?
      </h2>
      <h3 style="font-style: normal;">Wnioski na podstawie Raportu z badania "Pilotaż wdrożenia Opieki Farmaceutycznej"
        z praktykami grupy opieka.farm.
      </h3>
      <p class="author-name">mgr farm. Anna Świątek-Brzezińska</p>
      <p class="author-position">grupa opieka.farm</p>
    </header>

    <div class="multi-column-3">
      <p>
        Jeśli szukać tematu, który rozgrzeje każdą farmaceutyczną dyskusję, to zdecydowanie jest to opieka
        farmaceutyczna. O opiece farmaceutycznej mówi się od prawie 20 lat, a mimo to polska apteka nadal jest głównie
        placówką handlową, w której jakiekolwiek dodatkowe usługi, poza krótką poradą znad pierwszego stołu, są
        niedostępne.
      </p>

      <p>
        Przyczyn takiego stanu rzeczy upatrujemy w tym, że zamiast dyskutować o konkretnych usługach, które mogliby
        świadczyć farmaceuci i których efekty mogłyby być mierzone, debatuje się o bliżej nieokreślonej idei Opieki
        Farmaceutycznej, której do końca nie rozumieją sami farmaceuci, a co dopiero pacjenci, lekarze i decydenci.
        Chcąc wesprzeć wdrażanie opieki farmaceutycznej w Polsce, w 2019 roku grupa opieka. farm przeprowadziła
        ogólnopolskie badanie pod nazwą „Pilotaż wdrożenia Opieki Farmaceutycznej”. Było to pierwsze zakrojone na tak
        szeroką skalę badanie dotyczące możliwości wdrożenia usług opieki farmaceutycznej do aptek otwartych.
      </p>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 3/2020</a>
      </div>
      <p>s. 35-37</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Szybki dostęp do innowacyjnych terapii umożliwia skuteczne leczenie... -->
  <article>
    <header>
      <!-- <h3>Nadtytuł</h3> -->
      <h2>Szybki dostęp do innowacyjnych terapii umożliwia skuteczne leczenie</h2>
      <p class="author-name">Bogna CICHOWSKA-DUMA</p>
      <p class="author-position">Dyrektor Generalny Związku Pracodawców Innowacyjnych Firm Farmaceutycznych INFARMA</p>
    </header>

    <div class="multi-column-3">

      <p>
        Sytuacja w polskim systemie ochrony zdrowia od lat jest trudna. Obrazują to nie tylko niepokojące wskaźniki i
        dane, ale również poszczególne historie pacjentów, którzy zmagają sią z niewydolnooecią systemu. Związek
        Pracodawców Innowacyjnych Firm Farmaceutycznych INFARMA zwrócił się do jednego z kluczowych ekspertów ochrony
        zdrowia – Stefana Bogusławskiego – o opracowanie publicznie dostępnych danych, które obrazują stan sektora.
      </p>

      <p>
        Czas opracowania nie bez przyczyny zbiega się z powołaniem nowego rządu. W okresie przedwyborczym została
        zaprezentowana tzw. „piątka dla zdrowia” Prawa i Sprawiedliwości, zakładająca m.in. wzrost nakładów na ochronę
        zdrowia. Exposé Ministra Zdrowia Łukasza Szumowskiego podczas sejmowej Komisji Zdrowia było deklaracją
        kontynuacji tych kierunków. INFARMA planuje cykliczną aktualizację zestawienia, aby wspólnie ze środowiskiem
        ekspertów i decydentów monitorować efekty zmian w systemie ochrony zdrowia i dyskutowaæ o optymalnych
        rozwiązaniach.
      </p>

      <p style="text-align: left;"><br>
        <strong>
          WYNIKI ZDROWOTNE A NAKŁADY NA OCHRONĘ ZDROWIA
        </strong>
      </p>

      <p><br>
        W Polsce liczba pacjentów, których śmierci moglibyśmy uniknąć dzięki profilaktyce i interwencjom medycznym
        jest o ponad 1/3 większa niż średnia w Unii Europejskiej. Co roku przedwcześnie umiera 20 tysięcy Polaków.
        Polacy żyją o 3 lata krócej niż średnio żyją mieszkańcy innych krajów europejskich. Co gorsza oczekiwana
        długość życia spada. Poprawie sytuacji nie sprzyja narastające od lat niedofinansowanie publicznej ochrony
        zdrowia.<br>
        Polska wciąż przeznacza na zdrowie swoich obywateli znacznie mniej środków niż średnio przeznaczają kraje Unii
        Europejskiej. W 2017 roku rząd zadeklarował, że w ciągu 7 lat podniesie publiczne wydatki na ochronę zdrowia do
        6% PKB. Posługując się dostępnymi danymi GUS łatwo wyliczyć, że do obiecanego przez rząd poziomu w pierwszym
        roku wdrażania ustawy brakowało nam nieco ponad 33 mld zł. Publiczne dane pokazują, że Polacy wydają corocznie
        z własnej kieszeni niemal 10 mld na świadczenia zdrowotne, a kwota ta jest jeszcze niepełna, bo nie obejmuje np.
        dopłat do leków. Oznacza to, że co roku wykładamy z własnej kieszeni ponad 1/3 kwoty, na którą rząd planuje
        zbierać przez 7 lat. <br>
        Poziom niezaspokojonych potrzeb w zakresie opieki medycznej w Polsce jest wyższy niż średnia UE. Pacjenci jako
        główną przyczynê wskazują czas oczekiwania na wizyty u specjalistów. 72% Polaków uważa, że likwidacja kolejek do
        lekarzy specjalistów oraz do świadczeń zdrowotnych jest kluczowa dla poprawy kondycji systemu ochrony zdrowia.
        Jednocześnie
        spadają nakłady na ambulatoryjną opiekę specjalistyczną (AOS).
      </p>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 2/2020</a>
      </div>
      <p>s. 7-9</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Strona 27 'Czasopisma Aptekarskiego' nr 02-2020 -->
  <section class="center">
    <a href="/assets/temporary/cza2020-02/cza2020-02-str27-900px.jpg" target="_blank">
      <img src="/assets/temporary/cza2020-02/cza2020-02-str27-600px.jpg" class="img-max-width-big"
        alt="Strona 27 'Czasopisma Aptekarskiego' nr 02-2020">
    </a>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 2/2020</a>
      </div>
      <p>s. 27-29</p>
    </footer>
  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Jubileusz 90-lecia życia i działalności -->
  <article>
    <header>
      <h3>Jubileusz 90-lecia życia i działalności</h3>
      <h2>ALEKSANDRA KAZIMIERZA DRYGASA <br>
        życiorys niedokończony i wielce subiektywny przez skromnego akolitę napisany
      </h2>
    </header>

    <div class="multi-column-3">
      <p>
        <strong>
          WOJSKO. DUSZA ARTYSTY I FILATELISTY
        </strong>
      </p>

      <p><br>
        Kolejnym etapem życia Aleksandra Drygasa była służba wojskowa. W Gubinie n/Nysą w 5 Saskiej Dywizji Pancernej
        przesłużył 25 miesięcy jako kierownik apteki garnizonowej, którą sam urządził.
      </p>
      <p>
        Ten okres skończył się w 1960 r. Aleksander Drygas nie wrócił już do Poznania, droga życiowa zawiodła go do
        Gdańska, gdzie w Gdańskim Zarządzie Aptek objął, analogiczne do poznańskiego, stanowisko inspektora aptek.
        Niespokojna „artystyczna dusza” kazała mu się starać o przyjęcie na ASP, ale rozsądny profesor tejże uczelni
        zapytał, czy rzeczywiście chce utrzymywać się z malowania portretów „wodzów rewolucji” lub dekorować wystawy
        „lepszych sklepów”. Te rzeczowe argumenty spowodowały odejście od marzeń o zostaniu dyplomowanym plastykiem.
        „Niespokojna dusza” znalazła inne zainteresowanie – filatelistykę; zbiory, ze sztandarowym „Za Waszą i naszą
        wolność” zdobywały nagrody na wystawach krajowych, a nawet medal z wizerunkiem Lenina w Leningradzie. Artykuły
        Aleksandra Drygasa na tematy filatelistyczne ukazywały się w regionalnej prasie, co wzbudziło zainteresowanie
        dyrektora Gdańskiego Zarządu Aptek i propozycję z jego strony napisania historycznego referatu na akademię „ku
        czci” dwudziestej rocznicy upaństwowienia aptek. Od tej pory każda wizyta inspektora Drygasa w aptece kończyła
        się rozmową o historii apteki, nie tylko w ostatnim dwudziestoleciu. Inspektor zbierał stare dokumenty, stare
        zdjęcia, koncesje i przede wszystkim wspomnienia. Dotarł nawet do aptekarza aprobowanego Antoniego Małeckiego,
        pierwszego właściciela apteki „Pod Gryfem”, która powstała w budującej się od podstaw Gdyni. Ta kwerenda stała
        się pomału solą życia Aleksandra Drygasa.
      </p>
      <p>
        Jeszcze jako inspektor GZA Aleksander Drygas uzyskał drugi stopień specjalizacji z zakresu farmacji aptecznej,
        co dało mu najwyższe kwalifikacje zawodowe.
      </p>

      <figure class="fig-max-width-normal" style="margin-left: auto; margin-right: auto;">
        <br>
        <img src="/assets/cza-2020-01/drygas-wojsko-250px.jpg" alt="Aleksander Drygas">
        <figcaption>
          Podporucznik mgr farm. Aleksander Drygas jako kierownik apteki garnizonowej w 1958 r.
        </figcaption>
      </figure>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 1/2020</a>
      </div>
      <p>s. 25-32</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Historycy farmacji w Nowym Świecie -->
  <article>
    <header>
      <h3>Z Ameryki, specjalnie dla "Czasopisma Aptekarskiego"</h3>
      <h2>Historycy farmacji w Nowym Świecie, czyli 44.&nbsp;Międzynarodowy Kongres Historii Farmacji w Waszyngtonie
      </h2>
      <p class="author-name">prof. dr hab. Anita Magowska</p>
      <p class="author-position">Katedra i Zakład Historii Nauk Medycznych Uniwersytetu Medycznego im. Karola
        Marcinkowskiego w Poznaniu</p>
    </header>

    <div class="multi-column-3">
      <p>
        Od lat w międzynarodowym środowisku historyków farmacji przeważali Europejczycy. To oni narzucali tematykę
        kongresom Międzynarodowego Towarzystwa Historii Farmacji i organizowali je. Wprawdzie uczestnikami tych wydarzeń
        bywali też przedstawiciele obu Ameryk, Australii, Azji i Afryki, ale obradowano głównie o rozwoju farmacji na
        Starym Kontynencie. To się zmieniło w 2019 roku. Tym razem gospodarzami największego i najbardziej prestiżowego
        spotkania światowego grona historyków farmacji stali się Amerykanie.
      </p>

      <p>
        Polskich historyków farmacji reprezentowały dr hab. Iwona Arabas, prof. PAN i autorka niniejszego sprawozdania.
        Prof. Arabas wygłosiła referat o surowcach z Nowego Świata w kolekcji Anny Jabłonowskiej i dziełach Krzysztofa
        Kluka, skupiając się na recepcji wiedzy o roślinach egzotycznych na Podlasiu. Natomiast autorka tego artykułu
        otrzymała trzecią nagrodę w konkursie posterów za plakat omawiający problem jakości leku w obozach zagłady i w
        programie tajnych studiów farmaceutycznych w Warszawie podczas II wojny światowej.
      </p>

      <p><br>
        <strong>W CAPITAL HILTON</strong>
      </p>

      <p><br>
        44. Międzynarodowy Kongres Historii Farmacji został zorganizowany przez Amerykański Instytut Historii Farmacji w
        dniach 5-8 września 2019 roku w Waszyngtonie. Tematem wiodącym obrad był „Farmaceuta i jakość leków”, za którym
        kryły się wszelkie działania podejmowane przez farmaceutów w celu zapewnienia pacjentom bezpiecznej i efektywnej
        farmakoterapii. Zdaniem Amerykanów, pojęcie jakości leków wiąże się nierozłącznie z farmakopeami. Przygotowując
        się do przypadającego na 2020 rok dwusetlecia wydania pierwszej Farmakopei Amerykańskiej, zaprosili historyków
        farmacji z całego świata, aby zaznajomić ich ze specyfiką farmacji w USA.
      </p>

    </div>

    <figure class="fig-max-width-big" style="margin-left: auto; margin-right: auto;margin-top:1.3rem">
      <img src="/assets/cza-2019-12/ameryka-nowy-swiat.jpg" alt="44. Kongres Farmacji">
      <figcaption>
        Obrady 44. Międzynarodowego Kongresu Historii Farmacji odbyły się w Capital Hilton Hotel w Waszyngtonie. 1.
        Prezydium Kongresu podczas otwarcia. Uroczystość odbywała się w „Presidential Ballroom”, sali odwiedzanej przez
        wszystkich prezydentów USA od czasu Roosvelta 2. Uczestnicy Kongresu 3. Uroczyste posiedzenie Międzynarodowej
        Akademii Historii Farmacji. Przemawia prof. dr Brunno Bonnemain, prezydent Międzynarodowej Akademii Historii
        Farmacji 4. Prof. dr Alain Touwaide, wybitny znawca farmacji średniowiecznej i renesansowej, demonstruje swoją
        najnowszą książkę 5.&nbsp;Miejsce obrad Kongresu Historii Farmacji 6. Prof. dr Greg Higby, do niedawna dyrektor
        Amerykańskiego Instytutu Historii Farmacji, z otrzymanym Medalem im. Georgea Urdanga ustanowionym w 1952 r.
        przez Amerykański Instytut Farmacji
      </figcaption>
    </figure>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 12/2019</a>
      </div>
      <p>s. 13-17</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Krótka opowieść o tym, jak święci Kosma i Damian... -->
  <article>
    <header>
      <!-- <h3>Nadtytuł</h3> -->
      <h2>Krótka opowieść o tym, jak święci Kosma i Damian za&nbsp;sprawą aptekarzy Opolszczyzny przybyli do kaplicy
        św.&nbsp;Sebastiana w Kamieniu Śląskim i w niej pozostali</h2>
      <p class="author-name">mgr farm. Maria PAJĄK</p>
      <p class="author-position">Członek Opolskiej Okręgowej Izby Aptekarskiej i Sekcji Historii Farmacji PTFarm.</p>
    </header>

    <div class="text-on-the-left-or-bottom">
      <p class="text-on-left-near-img">
        W tym roku minęło ćwierć wieku od naszego pierwszego spotkania w Kamieniu Śląskim. Z tej okazji aptekarze
        Opolszczyzny ufundowali obraz przedstawiający naszych patronów świętych Kosmę i Damiana. Na tabliczce
        umieszczonej na ramie obrazu widnieje napis:... Święci Kosma i Damian – dar Aptekarzy Opolszczyzny, A.D.
        2019...
        Z tyłu dzieła jest krótki opis:... „Ad gloriam pharmaciae”. Obraz pędzla Adama Grocholskiego, brzeskiego
        plastyka, przedstawiający patronów aptekarzy Kosmę i Damiana, ofiarowany przez Aptekarzy Opolszczyzny z
        okazji
        Jubileuszowych XXV Rekolekcji Wielkopostnych, kaplicy św.&nbsp;Sebastiana...
      </p>

      <img src="/assets/cza-2019-11/pajak-kosma-4-400px.jpg" class="img-near-text" alt="Obraz Kosmy i Damiana">
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 11/2019</a>
      </div>
      <p>s. 17-19</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Amerykańskie Stowarzyszenie Farmaceutyczne i wielka rewolucja w farmacji -->
  <article>
    <header>
      <h3>Z Ameryki, specjalnie dla "Czasopisma Aptekarskiego"</h3>
      <h2>Amerykańskie Stowarzyszenie Farmaceutyczne i wielka rewolucja w farmacji</h2>
      <p class="author-name">prof. dr hab. Anita Magowska</p>
      <p class="author-position">Katedra i Zakład Historii Nauk Medycznych Uniwersytetu Medycznego im. Karola
        Marcinkowskiego w Poznaniu</p>
    </header>

    <div class="multi-column-3">
      <p>
        Gdyby nie Amerykańskie Stowarzyszenie Farmaceutyczne (American Pharmaceutical Association, czyli po prostu APhA)
        nie powstałaby farmacja kliniczna i nie byłoby odpłatnej ani jakiekolwiek innej opieki farmaceutycznej. Ta
        potężna pod względem liczebności i siły wpływu największa na świecie narodowa organizacja farmaceutów dokonała
        takiej transformacji farmacji naukowej i zawodowej, o jakiej żaden europejski aptekarz nie śmiałby nawet marzyć.
        Farmaceuta przy łóżku chorego, farmaceuta zarządzający odpłatnie terapią pacjenta – to mogło urzeczywistnić się
        tylko w Ameryce. I stało się w Ameryce.
      </p>

      <p><br>
        <strong>ZARYS DZIEJÓW APHA</strong>
      </p>

      <p><br>
        Historia Amerykańskiego Stowarzyszenia Farmaceutycznego jest długa i burzliwa. W pierwszej połowie XIX wieku w
        USA istniało kilka lokalnych (co oznaczało działalność w skali stanu) towarzystw farmaceutycznych, z których
        żadne nie zamierzało połączyć się z innymi. Sytuacja zmieniła się, kiedy do Stanów zaczęły przypływać
        europejskie statki z ładunkiem leków zawierających inne substancje czynne niż deklarowane, zafałszowanych, z
        toksycznymi domieszkami lub pozbawionych siły działania. Zdarzało się, że zabijały. Aptekarze i lekarze
        amerykańscy wnieśli więc petycję do Kongresu, żądając wprowadzenia ustawy umożliwiającej nadzór nad importem
        leków. Wprowadzono ją w życie w 1848 roku, ale bez oczekiwanych rezultatów. Inspektorzy portowi dawali się
        przekupić i szkodliwe leki nadal zalewały amerykański rynek. Trzy lata później New York College of Pharmacy jako
        wiodąca uczelnia farmaceutyczna doprowadziła do wyłonienia grupy przedstawicieli wszystkich takich szkół i
        powierzenia im pewnego zakresu kontroli nad rynkiem leków. Ukoronowaniem ich współpracy był zjazd zorganizowany
        w 1852 roku w Filadelfii, na którym założono Amerykańskie Stowarzyszenie Farmaceutyczne.
      </p> <br>

      <figure class="fig-max-width-normal" style="margin-left: auto; margin-right: auto;">
        <img src="/assets/cza-2019-11/ameryka-2-05-procter-400px.jpg" alt="Pomnik Williama Proctera">
        <figcaption>
          Pomnik Williama Proctera, uważanego za twórcę farmacji amerykańskiej
        </figcaption>
      </figure>
    </div>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 11/2019</a>
      </div>
      <p>s. 24-26</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <!-- Wizyta w siedzibie Konwencji Farmakopei Amerykańskiej -->
  <article>
    <header>
      <h3>Z Ameryki, specjalnie dla "Czasopisma Aptekarskiego"</h3>
      <h2>Wizyta w siedzibie Konwencji Farmakopei Amerykańskiej (United States Pharmacopoeia Convention)</h2>
      <p class="author-name">prof. dr hab. Anita Magowska</p>
      <p class="author-position">Katedra i Zakład Historii Nauk Medycznych Uniwersytetu Medycznego im. Karola
        Marcinkowskiego w Poznaniu</p>
    </header>

    <div class="multi-column-3">
      <p>
        Coraz większy wpływ na światowe standardy jakości leków i suplementów diety wywiera Farmakopea Amerykańska
        (United States Pharmacopoeia, czyli USP). Jest respektowana nie tylko w USA, a także w tych krajach, które z
        różnych względów nie chcą opracowywać własnej farmakopei, np. w Kanadzie, Nowej Zelandii i Australii.
        Nowelizacją USP zajmuje się organizacja non-profit, a więc niekomercyjna, Konwencja Farmakopei Amerykańskiej
        (United States Pharmacopoeial Convention). Od 2008 roku jej główne biuro i laboratoria badawcze znajdują się w
        Rockville w stanie Maryland. Tu znajduje się też niewielkie muzeum. Oprowadza po nim specjalnie w tym celu
        zatrudniona pani kustosz, która z pasją opowiada o ewolucji Farmakopei Amerykańskiej i jej znaczeniu dla zdrowia
        publicznego. <br>
        Historia USP zaczyna się w 1820 roku. Wtedy ukazało się jej pierwsze wydanie. Z jednej strony było ono
        manifestem niezależności młodego państwa od Europy, z drugiej wprowadzało jednolite zasady wytwarzania leków
        przez aptekarzy. Od 1848 roku, w którym uchwalono ustawę o imporcie leków, Farmakopea stała się narzędziem
        regulacji handlu międzynarodowego. Na jej podstawie odmawiano rozładowania statków wpływających do portów
        amerykańskich z lekami europejskimi nie spełniającymi wymogów USP.
      </p>
    </div>
    <p class="mt-3a multi-img-narrow">

      <figure class="fig-max-width-normal">
        <img src="/assets/cza-10-2019/ameryka-1-laboratoria-konwencji-w-rockville-400px.jpg" alt="Laboratorium">
        <figcaption>
          Za szklaną ścianą kryją się najnowocześniejsze laboratoria farmaceutyczne na świecie
        </figcaption>
      </figure>

      <figure class="fig-max-width-normal">
        <img src="/assets/cza-10-2019/ameryka-1-laboratoria-konwencji-usp-400x.jpg" alt="Laboratorium">
        <figcaption>
          W laboratoriach badawczych Konwencji Farmakopei Amerykańskiej wykorzystuje się najnowsze technologie badawcze,
          dlatego ich personel jest nieliczny
        </figcaption>
      </figure>
    </p>

    <footer>
      <div class="more-in-cza">
        <a routerLink="/subscription">>>> więcej w "Czasopiśmie Aptekarskim" nr 10/2019</a>
      </div>
      <p>s. 6-9</p>
    </footer>
  </article>
</div>