<div>
  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <section class="center">
    <a href="/assets/pdf/wykaz-dost-publ-ks-1.pdf" target="_blank" style="display: block; text-align:center; 
    margin-top: 0.3em;">
      <strong>Wykaz dostępnych publikacji książkowych Wydawnictwa Farmapress przydatnych w&nbsp;ciągłym szkoleniu
        farmaceutów</strong>
    </a>
  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <section class="center">
    <a href="/assets/documents/cza-prenum-2019-2polr.pdf" target="_blank">
      <img src="/assets/images/cza-prenum-2019-2polr.jpg" class="img-big" alt="Prenumerata 'Czasopisma Aptekarskiego'">
    </a>
  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <section class="center">
    <a href="/assets/documents/pacjent-z-bolem-s47.pdf" target="_blank">
      <img src="/assets/images/pacjent-z-bolem-s47.jpg" class="img-big"
        alt="Konferencja 'Pacjent z bólem pod opieką farmaceuty'" style="display:flex">
    </a>

    <a href="https://opiekaodzaraz.pl/konferencjabol2019" target="_blank"
      style="background-color: #734A00; color:white; padding:5px 8px; margin: 5px 0">
      Zarezerwuj miejsce / bilet
    </a>

    <a href="https://opiekaodzaraz.pl/konferencjabol2019" target="_blank">
      <img src="/assets/images/pacjent-z-bolem.jpg" class="img-big"
        alt="Konferencja 'Pacjent z bólem pod opieką farmaceuty'">
    </a>
  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <article>
    <header>
      <h3>Na stulecie nauczania farmacji w Poznaniu</h3>
      <h2>Ulica Franciszka Adamanisa w Poznaniu-Junikowie</h2>
      <p class="author-name">Bogdan Ostrowski</p>
    </header>

    <figure class="fl mr-1" style="width: 200px">
      <img src="/assets/images/adamanis_ulica_img_6091_200px.jpg" alt="ul. Francszka Adamanisa">
    </figure>

    <p>
      Drodzy Czytelnicy,
    </p>
    <p>
      Redakcja „Czasopisma Aptekarskiego” zwraca się z uprzejmą prośbą o poparcie inicjatywy ufundowania tablicy
      pamiątkowej poświęconej prof. dr. hab. Franciszkowi Adamanisowi, którego imienia ulica znajduje się w Poznaniu
      Junikowie.
    </p>
    <p>
      Ulica Franciszka Adamanisa otrzymała swoją nazwę decyzją Miejskiej Rady Narodowej w Poznaniu 12 maja 1983 r., a od
      niedawna przy nazwie ulicy pojawiła się informacja o życiu i działalności Profesora, którą można zastąpić
      wspomnianą
      tablicą pamiątkową, umieszczając ją na kamieniu przy skrzyżowaniu ulicy Franciszka Adamanisa z ulicą Józefa
      Edwarda
      Grobelnego.
    </p>
    <p>
      Prezentowane obok zdjęcia ulicy Franciszka Adamanisa sugerują, w którym miejscu i w jakiej formie można umieścić
      tablicę (wzór przedstawiamy na stronie 5 niniejszego wydania „Czaspisma Aptekarskiego”).
    </p>
    <p>
      Okazją ku temu jest apogeum obchodów stulecia nauczania farmacji w Poznaniu organizowanych 15 listopada 2019 r.
      przez władze Uniwersytetu Medycznego im. Karola Marcinkowskiego w Poznaniu.
    </p>
    <p>
      Redakcja „Czasopisma Aptekarskiego” deklaruje wszelką pomoc przy organizacji przedsięwzięcia. Natomiast uroczyste
      odsłonięcie tablicy można poprzedzić sesją naukową poświęconą życiu i działalności prof. dr. hab. Franciszka
      Adamanisa.
    </p>
    <p class="footnotes">
      Praca pt. „Całe życie dla farmacji” poświęcona prof. Franciszkowi Adamanisowi, autorstwa prof. anity Magowskiej
      ukaże się w kolejnych wydaniach „Czasopisma Aptekarskiego”.
    </p>

    <footer>
      <p>>>> "Czasopismo Aptekarskie" nr 5/2018</p>
      <p>str. 9</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <article>
    <header>
      <h2>III Edycja Ogólnopolskiej Kampanii Profilaktyczno-Edukacyjnej „Servier – wyłącz raka!”</h2>
    </header>

    <!-- <figure class="fl mr-1" style="width: 200px">
      <img src="/assets/images/adamanis_ulica_img_6091_200px.jpg" alt="ul. Francszka Adamanisa">
    </figure> -->

    <p class="lead">
      <img src="/assets/images/servier-wylacz-raka-logo.jpg" class="fl mr-1" style="width:200px"
        alt="logo - wyłącz raka">
      Na wczesnym etapie nie boli i nie daje żadnych objawów. W naszym kraju jest przyczyną 33 zgonów dziennie. Rozwija
      się najczęściej u osób po 50. roku życia, ale także obciążonych genetycznie, stosujących nieprawidłowo
      zbilansowaną dietę i podejmujących niską aktywność fizyczną, palących papierosy i nadużywających alkoholu. W
      Polsce co roku diagnozowanych jest 19 tysięcy nowych przypadków zachorowań. Rak jelita grubego – drugi, pod
      względem częstotliwości występowania w Polsce, nowotwór złośliwy u kobiet i trzeci u mężczyzn... Rozpoczyna się
      III edycja
      ogólnopolskiej kampanii profilaktyczno edukacyjnej „Servier – wyłącz raka!”, odbywająca się pod hasłem
      „Kolonoskopia jest super!”. Organizatorzy stawiają sobie za cel przekonanie Polaków do wykonania profilaktycznych
      badań
      kolonoskopowych.
    </p>

    <p>
      Liczba zachorowań na raka jelita grubego stale wzrasta. Jak wynika z danych Krajowego Rejestru Nowotworów w
      przyszłości tendencja będzie zwyżkowa – już za 10 lat na raka jelita grubego w Polsce zachoruje ponad 28 tys. osób
      rocznie. Kolonoskopia, która jest jednym z najlepszych osiągnięć medycyny, a z której – z różnych przyczyn – w
      profilaktyce nowotworu niewiele osób korzysta, może być remedium na te zatrważające statystyki. Wystarczy
      przekonać
      do tego badania Polaków, a to niestety zadanie bardzo trudne...
    </p>

    <h4>KOLONOSKOPIA JEST SUPER, BO ŻYCIE JEST SUPER</h4>

    <p>
      Najskuteczniejszą i najszybszą formą zarówno diagnostyki, czyli wykrycia raka jelita grubego, jak i terapii, czyli
      leczenia jego wczesnych stadiów, jest kolonoskopia. To z jednej strony badanie profilaktyczne, a z drugiej zabieg
      ratujący życie. Trwa od 15 do 40 minut i polega na wprowadzeniu do jelita grubego giętkiego i cienkiego aparatu
      zakończonego źródłem światła. Za jego pomocą lekarz może dokładnie obejrzeć jelito od środka. Poza tym
      kolonoskopia pozwala na usunięcie polipów, jeśli te znajdują się w jelicie, zanim jeszcze przekształcą się w raka.
      Dzięki kolonoskopii w badaniach przesiewowych już blisko 10 tys. Polaków uniknęło raka jelita grubego.
      <em>
        „Kolonoskopia jest
        nowoczesnym i bezpiecznym badaniem. Powinniśmy ją wykonywać najlepiej zanim pojawią się jakiekolwiek objawy,
        kiedy
        jesteśmy zupełnie zdrowi – profilaktycznie. Narosło jednak wokół niego wiele mitów, w konsekwencji czego
        większość
        społeczeństwa ma własne, często mylne wyobrażenie na temat przebiegu tego badania. Jako lekarze przypominamy:
        profilaktyczna kolonoskopia może zmniejszyć ryzyko zachorowania na raka jelita grubego nawet o 60 90 proc. W
        moim
        odczuciu strach czy wstyd nie ma racji bytu, gdy uświadomię sobie, że kolonoskopia może mnie uchronić przed
        zachorowaniem na raka. I do takiej zmiany myślenia zachęcam wszystkich Polaków”
      </em>
      –
      <strong>
        przekonuje prof. dr hab. n. med. Jarosław Reguła, Konsultant Krajowy w dziedzinie Gastroenterologii, Kierownik
        Kliniki Gastroenterologii,
        Hepatologii i Onkologii Klinicznej Centrum Onkologii – Instytut im. Marii Skłodowskiej Curie.
      </strong>
    </p>
    <p>
      <em>
        „Budowanie świadomości społecznej, w tym przełamywanie tabu wokół kolonoskopii, to wciąż wyzwania, przed którymi
        stoimy. Pacjenci często nie wiedzą, że badanie można wykonać w znieczuleniu miejscowym lub ogólnym. Ryzykowanie
        własnym życiem z powodu strachu przed badaniem jest nielogiczne. A przecież korzyści, które wynikają z
        kolonoskopii mogłyby zdecydowanie zmienić statystyki zachorowalności na raka jelita grubego
      </em>
      –
      <strong>
        dodaje dr n. med. Mariola Kosowicz, Kierownik Poradni Psychoonkologii Centrum Onkologii – Instytut im. Marii
        Skłodowskiej Curie.
      </strong>
    </p>

    <h4>KAMPANIA „SERVIER – WYŁĄCZ RAKA!”</h4>

    <p>
      W tegorocznej odsłonie kampanii, której hasłem jest „Kolonoskopia jest super!”, głównym celem jest podkreślanie
      roli
      profilaktyki, ze szczególnym uwzględnieniem kolonoskopii jako badania ratującego życie oraz przełamywanie
      związanego
      z nim społecznego tabu. Organizatorzy chcą zachęcać Polaków do przezwyciężania lęku przed kolonoskopią, która jest
      nowoczesnym i bezpiecznym badaniem, umożliwiającym obejrzenie wnętrza i ocenę błony śluzowej całego jelita
      grubego.
      Komunikacja trzeciej edycji kampanii kierowana jest szczególnie do osób, które znajdują się w grupie podwyższonego
      ryzyka, ze względu na: wiek powyżej 50 lat, obciążenia genetyczne, wystąpienie raka jelita grubego u rodziców lub
      rodzeństwa, nieprawidłową dietę, niską aktywność fizyczną, palenie tytoniu czy nadużywanie alkoholu.
    </p>
    <p>
      W III edycję kampanii „Servier – wyłącz raka!” zaangażował się <strong>Andrzej Milewski, znany jako Andrzej
        Rysuje.</strong>
      Rysownik, za pomocą charakterystycznej dla siebie kreski i z charakterystycznym dla siebie poczuciem humoru,
      zachęca
      Polaków do wykonania profilaktycznej kolonoskopii. Warstwa humorystyczna ma za zadanie odczarować wizerunek
      kolonoskopii i przełamać tabu, jakie związane jest z tym badaniem. Satyryk przygotował trzy grafiki, które znajdą
      się na plakatach na przystankach komunikacji miejskiej i w materiałach informacyjnych dotyczących kampanii.
    </p>
    <p>
      W ramach kampanii zaplanowane zostały <strong>wykłady na temat profilaktyki raka jelita grubego</strong>,
      kierowane do słuchaczy
      <strong>Uniwersytetów Trzeciego Wieku</strong> w dziesięciu miastach w Polsce. Prelekcje uzupełni możliwość
      skorzystania z
      konsultacji lekarskich oraz przejścia edukacyjnego spaceru w modelu imitującym wnętrze jelita grubego, by zobaczyć
      jak wyglądają zmiany nowotworowe oraz dowiedzieć się, w jaki sposób można im zapobiegać.
    </p>
    <p>
      Istotnym z elementów akcji będzie <strong>współpraca z siecią kin Multikino</strong>. W największych miastach w
      Polsce, w dniach od
      15 do 28 marca 2019 r., przed seansami będzie emitowany <strong>spot kinowy z udziałem Zbigniewa
        Zamachowskiego</strong>,
      przekonujący o wartości badania kolonoskopowego. Widzowie otrzymają również materiał edukacyjny, którego przekaz
      będzie spójny ze spotem.
    </p>
    <p>
      Dodatkowo <strong>w przestrzeni internetowej pojawi się przekaz w formie krótkich filmów</strong>, w których
      udział wzięli eksperci
      medyczni, artyści, dziennikarze oraz sportowcy, m.in. Piotr Gruszka – siatkarz i trener, Przemysław Saleta –
      pięściarz, a także Maria Pakulnis oraz Zbigniew Zamachowski – aktorzy filmowi i teatralni.
    </p>
    <p>
      Kampania będzie także widoczna w przestrzeni publicznej dzięki wykorzystaniu <strong>wiat przystankowych na
        terenie
        wybranych największych miast Polski, jako nośników grafiki (plakatów) zachęcającej do wykonania profilaktycznej
        kolonoskopii.</strong>
    </p>
    <p>
      <em>
        „Kampania »Servier – wyłącz raka!« ma na celu zwiększanie świadomości społecznej na temat raka jelita grubego i
        jego
        profilaktyki. Szukamy ciągle nowych rozwiązań, które pozwolą nam na dotarcie do społeczeństwa z przekazem, że
        warto
        się badać. Jest to bardzo trudne. Dlatego w tym roku nieco zmieniamy formułę kampanii. Ponownie wyruszymy w
        Polskę,
        ale już nie w charakterze punktu konsultacyjno informacyjnego, do którego mogą zgłosić się wszyscy chętni, by
        uzyskać informacje. Będziemy podejmować działania edukacyjne nakierowane na konkretną grupę odbiorców –
        odwiedzimy
        m.in. Uniwersytety Trzeciego Wieku z wykładami na temat profilaktyki, konsultacjami lekarskimi i interaktywnym
        modelem jelita grubego”
      </em>
      –
      <strong>
        informuje lek. med. Katarzyna Urbańska, Dyrektor ds. Komunikacji i Spraw Zewnętrznych Servier Polska.
      </strong>
    </p>
    <p>
      Patronat merytoryczny nad kampanią objęły Polska Unia Onkologii i Polskie Towarzystwo Onkologii Klinicznej.
    </p>
    <p>
      Partnerami kampanii zostali: Europa Colon Polska, Polskie Towarzystwo Stomijne Pol-ilko, Polska Koalicja Pacjentów
      Onkologicznych, Fundacja Onkologiczna – Alivia, Fundacja Rak’n’Roll.
    </p>
    <p>
      <strong>
        Więcej informacji na temat kampanii znajduje się na stronie: www.wylaczraka.pl i na profilu
        facebook.com/wylaczraka.
      </strong>
    </p>

    <div class="footnotes">
      Źródła:
      <ol>
        <li>
          M. Janiak, P. Głowacka, A. Kopec, A. Staśkiewicz, Czynniki determinujące zgłaszalność na badania kolonoskopowe
          w Programie Badań Przesiewowych raka jelita grubego w Polsce, 'Gastroenterologia Kliniczna', 8 (2016), nr 4,
          s.
          142-152.
        </li>
        <li>
          Krajowy rejestr nowotworów, www.onkologia.org.pl.
        </li>
        <li>
          Polska Unia Onkologii, www.puo.pl/badania profilaktyczne/rak-jelita-grubego.
        </li>
        <li>
          Co warto wiedzieć. Rak jelita grubego, National Cancer Intitute of United States.
        </li>
        <li>
          www.poradnikzdrowie.pl/zdrowie/nowotwory/rak-jelita-grubego-profilaktyka-objawy-leczenie_35992.html.
        </li>
        <li>
          www.poradnikzdrowie.pl/zdrowie/nowotwory/profilaktyka nowotworow czy cwiczenia moga pomoc powstrzymac
          nowotwor_40243.html.
        </li>
      </ol>
    </div>

    <footer>
      <p>>>> "Czasopismo Aptekarskie" nr 5/2018</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <section class="center">
    <a href="/assets/documents/zaproszenie-konin.pdf" target="_blank">
      <img src="/assets/images/zaproszenie-konin.jpg" class="img-big"
        alt="Zaproszenie na konferencję naukową 'Zdrowie sport uroda'">
    </a>
  </section>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <section>
    <figure>
      <img src="/assets/images/kedzierska.jpg" alt="Edwarda Kędzierska">
      <figcaption>
        11 kwietnia br. z wielkim żalem pożegnaliśmy mgr farm. Edwardę Kędzierską, wielkiego przyjaciela wszystkich
        ludzi dobrej woli. W&nbsp;pierwszych latach odradzającego się samorządu aptekarskiego została wybrana na prezesa
        Naczelnej Rady Aptekarskiej podczas I Krajowego Zjadu Aptekarzy, który odbył się w dniach 13-14 grudnia 1991 r.
        w Warszawie. Była pierwszą osobą w samorządzie aptekarskim odznaczoną przez „Czasopismo Aptekarskie” Tytułem i
        Medalem Lider Farmacji i Medycyny. O&nbsp;działalności mgr farm. Edwardy Kędzierskiej napiszemy we wspomnieniach
        w
        czerwcowo-lipcowym wydaniu „Czasopisma Aptekarskiego”.
        Wiktor Szukiel
      </figcaption>
    </figure>
  </section>

  <article>
    <header>
      <h3>Fotoreportaż Jerzego Jambora</h3>
      <h2 style="margin-bottom:0">Agapant afrykański (<em>Agapanthus africanus</em>)</h2>
      <h2><small>Gwiazda w rodzinie czosnkowatych</small></h2>
      <p class="author-name">dr n. farm. Jerzy Jambor</p>
      <p class="author-position">Polski Komitet Zielarski</p>
    </header>

    <figure class="fr ml-1" style="width: 200px">
      <img src="/assets/images/agapant_dsc_0209.jpg" alt="Agapant afrykański">
    </figure>

    <p>
      Agapant afrykański (<em>Agapanthus africanus</em>, synonim: <em>Agapanthus umbellatus</em>), nazywany też
      agapantem baldaszkowatym, baldasznikiem afrykańskim lub lilią afrykańską, uznawany jest za najpiękniejszą roślinę
      w rodzinie czosnkowatych (<em>Alliaceae</em>). Nazwa gatunkowa tej rośliny pochodzi od greckich słów agape –
      miłość i
      anthos – kwiat. W języku starogreckim agape oznacza najwyższą formę miłości. W pierwszych wiekach chrześcijaństwa
      pojęcie agape odnosiło się do miłości Boga do ludzi i ludzi do Boga. Agapant afrykański, pochodzący z Afryki
      Południowej – z zachodniej części Kraju Przylądkowego, jest obecnie ulubioną w wielu krajach na Świecie rośliną
      ozdobną.
    </p>
    <p>
      Rodzina czosnkowatych (<em>Alliaceae</em>), do której należy agapant, liczy około 30 rodzajów i ponad 850
      gatunków, rosnących w strefach umiarkowanych wszystkich kontynentów, z wyjątkiem Australii. Najliczniej
      reprezentowana jest na półkuli północnej. W ostatnich dziesięcioleciach rodzina czosnkowatych wielokrotnie ulegała
      różnym zmianom.
      Dlatego też w niektórych publikacjach rodzaj <em>Agaphanthus</em> błędnie zaliczany jest jeszcze do rodziny
      liliowatych
      (<em>Liliaceae</em>), hiacyntowatych (<em>Hyacinthaceae</em>) lub amarylkowatych (<em>Amaryllidaceae</em>).
      Istnieją też publikacje w
      których wyodrębniona jest nawet rodzina agapantowatych (<em>Agapanthaceae</em>). Gatunki należące do rodziny
      czosnkowatych są geofitami
      cebulowymi lub kłączowymi o bezlistnej łodydze, baldachowatych kwiatostanach oraz owocach typu torebka. Pod
      względem chemicznym charakteryzują się obecnością lotnych i silnie wonnych związków siarkowych (siarczki,
      disiarczki,
      sulfotlenki alkilowe), będących składnikami tzw. olejków czosnkowych. Związki te mają na ogół właściwości
      antybiotyczne.
    </p>

    <footer>
      <p>>>> więcej w "Czasopismo Aptekarskie" nr 5/2018</p>
    </footer>
  </article>

  <!-- ARTICLE/SECTION START ------------------------------------------- -->
  <article>
    <header>
      <h2>Być albo nie być Ustawy o zawodzie farmaceuty</h2>
      <p class="author-name">Bogdan Ostrowski</p>
    </header>

    <p>
      Prof. dr hab. Jerzy Masiakowski był pierwszym (w odradzającym się samorządzie aptekarskim), który w 1995 r. na
      łamach specjalnego wydania "Czasopisma Aptekarskiego" nr 4 (6), s. 13-22 opublikował własny autorski projekt
      ustawy o zawodzie farmaceuty.
    </p>
    <p>
      Dokument ten spotkał się z ostrą krytyką Naczelnej Rady Aptekarskiej oraz okręgowych izb aptekarskich. Wśród
      oponentów znaleźli się także prawnicy i ówcześni pracownicy Ministerstwa Zdrowia, którzy zwrócili uwagę
      Autorowi
      na cały szereg błędów legislacyjnych. Po kilkunastu miesiącach projekt zwany "Projektem Masiakowskiego" umarł
      śmiercią naturalną. Jak naszym Czytenikom wiadomo, do tematu powrócono dokładnie po 23 latach w formie
      nieupublicznianych projektów, tajemniczych dyskusji, poufnych narad i bez konsultacji ze środowiskiem
      aptekarskim.
    </p>
    <p>
      Obecny projekt Ustawy o Zawodzie farmaceuty przygotowano na 88 stronach, a jego uzasadnienie na 55 stronach.
      Ani aktualny projekt, ani uzasadnienie nie są na miarę XXI wieku i wymagają dopracowania.
    </p>
    <p>
      Biorąc pod uwagę czas i obowiązującą procedurę legislacyjną, nie istnieją żadne przesłanki, aby parlament
      obecnej kadencji pochylił się nad projektem ustawy. Tym bardziej, że dokument jeszcze nie wyszedł z
      Ministerstwa
      Zdrowia (do czasu wydania niniejszego wydania "Czasopisma Aptekarskiego").
    </p>
    <p>
      Redakcja w okresie ostatniego roku otrzymała od Czytelników szereg uwag dotyczących projektu ustawy.
      Wskazywano
      również na występujące braki w definicjach, które mogą wzbudzać wątpliwości i różne interpretacje, np. brak
      definicji Rady Aptekarskiej i Izby Aptekarskiej, ale za to pojawiła się nowa definicja "okręgowa rada izby
      aptekarskiej". Takich przykładów jest wiele.
    </p>
    <p>
      Zdziwienie nasze budzi fakt, że w projecie ustawy lansuje się Dobrą Praktykę Dystrybucyjną, a pomija Dobrą
      Praktykę Apteczną zwaną też Dobrą Praktyką Farmaceutyczną.
    </p>
    <p>
      Do szczegółowej interpretacji nowego projektu Ustawy o Zawodzie farmaceuty powrócimy w kolejnych wydaniach
      "Czasopisma Aptekarskiego". Redakcja deklaruje zorganizowanie, pod auspicjami Naczelnej Rady Aptekarskiej,
      debaty na temat nowego projektu Ustawy o Zawodzie farmaceuty, np. w Centrum Prasowym w Warszawie.
      Liczymy na poparcie inicjatywy.
    </p>

    <footer>
      <p>>>> "Czasopismo Aptekarskie" nr 4/2018</p>
      <p>str. 3</p>
    </footer>
  </article>
</div>