footer {
  text-align: right;
  font-weight: bold;
  font-style: italic;
  margin-top: 1em;
} 

.author-name {
  font-size: 1.2em;
}

.author-position {
  font-size: 0.8em;
  font-style: italic;
}

.author-position,
.author-name {
  margin: 0.4em 0;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
}
