@import "../../main.component.css";

article > p {
  text-align: justify;
  margin: 0.4em 0;
}

header > h2 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

header > h3 {
  font-style: italic;
  margin-bottom: 0.5em;
}

.author-name {
  font-size: 1.2em;
}

.author-position {
  font-size: 0.8em;
}

.author-position,
.author-name {
  margin: 0.4em 0;
}

h4 {
  margin: 0.8em 0 0.6em 0;
}

article > .lead {
  font-weight: bold;
  margin-bottom: 1em;
}

@media only screen and (min-width: 1000px){
  article > .lead {
    padding: 0 2em;
  }
}

footer {
  text-align: right;
  font-weight: bold;
  font-style: italic;
  margin-top: 1em;
}

article, section {
  padding-bottom: 0;
  border-bottom: none;
}

article:not(:last-child),
section:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #734a00;
}

article > .footnotes {
  font-size: 0.8em;
}

article > .footnotes > ol {
  padding-left: 2em;
}

article > .footnotes::before {
  content: "--------------------";
  display: block;
  margin-top: 0.8em;
}

.gallery-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.gallery-selection-container > div {
  display: flex;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 1em;
}

.gallery__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}

.hidden {
  display: none;
}