@import "../../main.component.css";

article > p {
  text-align: justify;
  margin: 0.4em 0;
}

article > p.mt-3 {
  margin-top: 1em;
}

article > p.mt-3a {
  margin-top: 1.25em;
}

article > p.mt-4 {
  margin-top: 1.5em;
}

header > h2 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

header > h3 {
  font-style: italic;
  margin-bottom: 0.5em;
}

.author-name {
  font-size: 1.2em;
}

.author-position {
  font-size: 0.8em;
}

.author-position,
.author-name {
  margin: 0.4em 0;
}

h4 {
  margin: 0.8em 0 0.6em 0;
}

article > .lead {
  font-weight: bold;
  margin-bottom: 1em;
}

@media only screen and (min-width: 1000px){
  article > .lead {
    padding: 0 2em;
  }
}

footer {
  text-align: right;
  font-weight: bold;
  font-style: italic;
  margin-top: 1em;
}

article, section {
  padding-bottom: 0;
  border-bottom: none;
}

article:not(:last-child),
section:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #734a00;
}

article > .footnotes {
  font-size: 0.8em;
}

article > .footnotes > ol {
  padding-left: 2em;
}

article > .footnotes::before {
  content: "--------------------";
  display: block;
  margin-top: 0.8em;
}

.gallery-selected-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.gallery-selected-image-container > div {
  display: flex;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 1em;
}

.gallery__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

.multi-img-narrow, .multi-img-medium {
  display:grid; 
  gap: 1em;
  justify-items: center; 
}

.multi-img-narrow {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.multi-img-medium {
  grid-template-columns: repeat(auto-fit, minmax(var(--multi-img-medium-min-width), 1fr));
}

.more-in-cza {
  font-size: 0.95em;
}

.wishes-image {
  display: block;
  position: absolute;

}

.wishes-text {
  position: absolute;
  font-size: 4.7vw;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
  line-height: 7vw;
  color: var(--background-color);
}

@media screen and (min-width: 710px) {
  .wishes-text {
    font-size: 3vw;
    line-height: 4.5vw;
  }
}

@media screen and (min-width: 900px) {
  .wishes-text {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}