:host > div {
  display: grid;
  grid-template-columns: 180px 408px 180px; 
  grid-template-rows: auto auto; 
  grid-template-areas: 
    'contact-left logo contact-right'
    'ad ad ad';
  justify-content: center;
}

cza-contact:first-child {
  grid-area: contact-left;
}

cza-logo {
  grid-area: logo;
}

cza-contact:last-child {
  grid-area: contact-right;
}

cza-upper-advertisement {
  grid-area: ad;
}

/* :host>* {
  display: flex;
  justify-content: center;
} */

/* :host>*>* {
  border: 2px dotted green;
} */

cza-contact {
  /* flex-basis: 180px; */
  /* flex: 0 0 180px; */
  /* width: 180px;
  min-width: 145px; */
}

p {
  text-align: center;
  font-size: 0.8em;
}

p:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.contact-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}