<div>
  <cza-contact>
    <div class="contact-container">
      <p>
        <strong>tel.</strong><br>
        22 879-92-62
      </p>

      <p>
        <strong>fax 24 h</strong><br>
        22 879-92-32
      </p>

      <p>e-mail: <a href="mailto:cza@cza.pl">cza@cza.pl</a></p>
    </div>
  </cza-contact>

  <cza-logo></cza-logo>

  <cza-contact>
    <div class="contact-container">
      <p><strong>Adres Redakcji</strong></p>

      <p>
        ul. Obarowska 23/2<br>
        04-337 Warszawa<br>
        Box 81
      </p>
    </div>
  </cza-contact>

  <cza-upper-advertisement></cza-upper-advertisement>
</div>