:host>* {
  display: flex;
  justify-content: center;
}

/* :host>*>* {
  border: 2px dotted green;
} */

cza-contact {
  /* flex-basis: 180px; */
  /* flex: 0 0 180px; */
  width: 180px;
  min-width: 145px;
}

cza-logo {
  /* flex-basis: 400px; */
}

p {
  text-align: center;
  font-size: 0.8em;
}

p:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.contact-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}