<style>
  :host>* {
    display: flex;
    justify-content: center;
  }

  :host>*>* {
    border: 2px dotted green;
  }

  cza-contact {
    /* flex-basis: 180px; */
    /* flex: 0 0 180px; */
    width: 180px;
    min-width: 145px;
  }

  cza-logo {
    /* flex-basis: 400px; */
  }

  p {
    text-align: center;
    font-size: 0.8em;
  }

  p:not(:last-of-type) {
    margin-bottom: 0.5em;
  }

  .contact-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>

<div>
  <cza-contact>
    <div class="contact-container">
      <p>
        <strong>tel.</strong><br>
        22 879-92-62
      </p>

      <p>
        <strong>fax 24 h</strong><br>
        22 879-92-32
      </p>

      <p>e-mail: cza@cza.pl</p>
    </div>
  </cza-contact>

  <cza-logo></cza-logo>

  <cza-contact>
    <div class="contact-container">
      <p>
        <strong>Adres Redakcji</strong><br>
      </p>

      <p>
        ul. Obarowska 23/2<br>
        04-337 Warszawa<br>
        Box 81
      </p>
    </div>
  </cza-contact>
</div>