<style>
  /* :host>* {
    height: 100%;
  } */
</style>

<cza-frame>
  <nav>
    <a routerLink="/news">Komunikaty nadzwyczajne</a>
    <a routerLink="/info-about-cza">Informacje o&nbsp;"Czasopiśmie Aptekarskim"</a>
    <a routerLink="/scientific-articles-digest">Wybiórka w&nbsp;pigułce</a>
    <!-- <a href="#">Konferencje</a>
    <a href="#">Medale</a> -->
    <!-- <a href="#">Europejski Laur Farmacji</a> -->
    <a href="/assets/pdf/cza-publ-opieka-farm.pdf" style="font-size:0.83em" target="_blank">
      Bibliografia publikacji nt.&nbsp;opieki farmaceutycznej w&nbsp;"Czasopiśmie Aptekarskim"
      w&nbsp;latach 2001-2016
    </a>
    <a routerLink="/annual-tables-of-contents">SPISY TREŚCI za&nbsp;lata 2011-2017</a>
    <a routerLink="/subscription">PRENUMERATA</a>
    <a routerLink="/archival-magazines">Numery archiwalne "Czasopisma Aptekarskiego"</a>
    <a routerLink="/contact-info">Kontakt</a>
    <!-- <a href="#">Rada Naukowa i&nbsp;Redakcja</a> -->
    <a routerLink="/rules-for-authors">Regulamin dla Autorów publikacji naukowych</a>
    <!-- <a href="#">Zgłoszenia niepożądanych działań leków <br> <em>Pytania, komentarze, uwagi</em></a> -->
  </nav>
</cza-frame>