<style>
  /* :host>* {
    height: 100%;
  } */
</style>

<cza-frame>
  <nav>
    <a routerLink="/news">Komunikaty nadzwyczajne</a>
    <a routerLink="/info-about-cza">Informacje o&nbsp;"Czasopiśmie Aptekarskim"</a>
    <a href="#">Wybiórka w&nbsp;pigułce</a>
    <a href="#">Konferencje</a>
    <a href="#">Medale</a>
    <a href="#">Europejski Laur Farmacji</a>
    <a href="#" style="font-size:0.83em">
      Bibliografia publikacji nt.&nbsp;opieki farmaceutycznej w&nbsp;"Czasopiśmie Aptekarskim"
      w&nbsp;latach 2001-2016
    </a>
    <a href="#">SPISY TREŚCI za&nbsp;lata 2011-2017</a>
    <a href="#">PRENUMERATA</a>
    <a href="#">Numery archiwalne "Czasopisma Aptekarskiego"</a>
    <a href="#">Kontakt</a>
    <a href="#">Rada Naukowa i&nbsp;Redakcja</a>
    <a href="#">Regulamin dla Autorów publikacji naukowych</a>
    <a href="#">Zgłoszenia niepożądanych działań leków <br> <em>Pytania, komentarze, uwagi</em></a>
  </nav>
</cza-frame>