<cza-album>

  <!-- ALBUM-QUOTE -------------------------------------->
  <div class="album-quote">
    <p class="quote">
      Rozpoznawalność i oryginalność twórczości Krystyny Kocay stawia ją w gronie najwybitniejszych artystów.
    </p>
    <p class="quote-author-name">prof. Ryszard Hunger</p>
    <p class="quote-author-info">
      Dziekan, a następnie prorektor. Natomiast w latach 1987-1993 rektor Akademii Sztuk Pięknych w Łodzi
    </p>
    <p class="quote-source">
      [w:] Galeria Farmapress, Krystyna Joanna Kocay, Wydawnictwo Farmapress, s. 5
    </p>
  </div>

  <!-- ALBUM-ARTIST -------------------------------------->
  <span class="album-artist">
    W ramach projektu proponujemy Państwu album artystki <br>
    <strong>Krystyny Joanny Kocay</strong>, <br>
    współpracującej z farmaceutami oraz "Czasopismem Aptekarskim".
  </span>

  <!-- ALBUM-ARTIST -------------------------------------->
  <div class="album-description">
    <p>
      Objętość albumu 48 stron, format 205x285 mm, oprawa twarda, lakierowana.
    </p>
  </div>

</cza-album>