<div>
  <header>
    <img src="/assets/images/elf-lancuch-w.gif" alt="elf">
    <h3>Europejski Laur Farmacji</h3>
    <h4>najwyższe wyróżnienie "Czasopisma Aptekarskiego" o charakterze międzynarodowym</h4>
    <p>(ogólna informacja Wydawcy i Redakcji o zasadach przyznawania)</p>
  </header>

  <section>
    <h4>I</h4>
    <p>
      <strong>Europejski Laur Farmacji</strong> został ustanowiony przez Wydawcę i Redakcję "Czasopisma Aptekarskiego" w
      listopadzie 2001
      roku. Jest najwyższym w środowisku farmaceutycznym wyróżnieniem o charakterze międzynarodowym, symbolem integracji
      polskiego aptekarstwa i farmacji z aptekarstwem i farmacją poszczególnych krajów Unii Europejskiej.
      Inspiracją do jego ustanowienia stał się dorobek teoretyczny dorocznych Ogólnopolskich Konferencji "Czasopisma
      Aptekarskiego" poświęconych etyce marketingu aptecznego i farmaceutycznego, organizowanych od 1996 roku z udziałem
      najwybitniejszych przedstawicieli nauki w dziedzinie farmacji, medycyny, prawa, etyki, filozofii, ekonomii i
      informatyki.
    </p>
  </section>

  <section>
    <h4>II</h4>
    <p>
      Honorowy patronat nad <strong>Europejskim Laurem Farmacji</strong> przyjmują wybitne osobistości życia
      społeczno-politycznego
      Polski, a także liderzy organizacji i stowarzyszeń farmaceutycznych działający w państwach Unii Europejskiej.
    </p>
  </section>

  <section>
    <h4>III</h4>
    <p>
      Opiekę merytoryczną nad <strong>Europejskim Laurem Farmacji</strong> sprawuje kapituła zwana Honorową Lożą
      Farmaceutyczną, w skład
      której wchodzą liderzy organizacji, stowarzyszeń oraz zawodowych korporacji farmaceutycznych i medycznych
      działających
      w Polsce.
    </p>
  </section>

  <section>
    <h4>IV</h4>
    <p>
      <strong>Europejski Laur Farmacji</strong> będzie przyznawany wybitnym osobistościom oraz firmom polskim i
      zagranicznym za
      szczególne
      inicjatywy i przedsięwzięcia służące współpracy polskiego środowiska aptekarskiego z producentami
      farmaceutycznymi,
      hurtowniami i dystrybutorami produktów leczniczych oraz farmaceutycznymi organizacjami i stowarzyszeniami
      naukowymi,
      samorządowymi i gospodarczymi Europy.
    </p>
  </section>

  <section>
    <h4>V</h4>
    <p>
      <strong>Europejski Laur Farmacji</strong> będzie również przyznawany firmom i organizacjom farmaceutycznym za
      przedsięwzięcia na
      rzecz
      środowiska lokalnego oraz o znaczeniu ogólnopolskim i międzynarodowym, służące promocji zdrowia, współpracy
      naukowej,
      samorządowej, wydawniczej itp.
    </p>
  </section>

  <section>
    <h4>VI</h4>
    <p>
      <strong>Europejski Laur Farmacji</strong> może być nadawany na wniosek przedstawicieli parlamentu, kompetentnych
      organów
      administracji
      państwowej, organizacji pozarządowych, medycznych i farmaceutycznych środowisk naukowych, korporacji
      samorządowych,
      specjalistycznych stowarzyszeń polskich i zagranicznych oraz innych fachowych gremiów, a także Wydawcy i Redakcji
      "Czasopisma Aptekarskiego".
    </p>
  </section>

  <section>
    <h4>VII</h4>
    <p>
      Wnioski o nadanie <strong>Europejskiego Lauru Farmacji</strong> opiniować będą, obok wymienionych w rozdziale III,
      również laureaci
      ustanowionych przez Wydawcę i Redakcję "Czasopisma Aptekarskiego" wyróżnień: w 1997 roku - Medalu "Czasopisma
      Aptekarskiego", w 1999 roku - medalu i tytułu "Laur Farmacji i Medycyny" oraz w 2000 roku - medalu i tytułu "Lider
      Farmacji i Medycyny".
    </p>
  </section>

  <section>
    <h4>VIII</h4>
    <p>
      Po przeanalizowaniu wniosków i zebraniu opinii ostateczną decyzję o przyznaniu <strong>Europejskiego Lauru
        Farmacji</strong>
      podejmie kapituła zwana Honorową Lożą Farmaceutyczną wraz z Wydawcą i Redakcją "Czasopisma Aptekarskiego".
    </p>
  </section>

  <section>
    <h4>IX</h4>
    <p>
      <strong>Europejski Laur Farmacji</strong> składa się z kartusza herbowego (część składowa znaku "Czasopisma
      Aptekarskiego"
      posiadającego świadectwo ochronne nr 106721, trwające od dnia 30.12.1995 roku na znak towarowy, wydane przez Urząd
      Patentowy RP dnia 10.06.1999 roku) z napisem "Europejski Laur Farmacji" oraz polem, na którym wygrawerowane
      zostaną
      inicjały wyróżnionej firmy lub osoby. Powyżej kartusza w towarzystwie liści laurowych znajduje się litera "A" z
      wplecionym wężem (część składowa znaku "Czasopisma Aptekarskiego" posiadająca świadectwo ochronne nr 109203
      trwające
      od dnia 31.08.1995 na znak towarowy, wydane przez Urząd Patentowy RP dnia 6.10.1999 roku). W każdym ogniwie w
      wieńcu
      liści laurowych wpisane są litery tworzące tytuł "Czasopismo Aptekarskie". Ponadto elementami symbolizującymi
      aptekarstwo jest wizerunek wagi aptecznej i moździerza aptecznego. W górnej części "Lauru" znajduje się informacja
      o
      roku założenia "Czasopisma Aptekarskiego" - rok zał. 1992.
      "Laur" składa się z 25 elementów wykonanych ręcznie z brązu uszlachetnionego o symbolu B-555, o wadze całkowitej
      1,4
      kg. Jest oryginalnym pomysłem autorskim red. Wiktora Szukiela, wykonany przez uznanego rzeźbiarza - Macieja Syrka.
    </p>
  </section>

  <footer>Wydawca i Redakcja</footer>
</div>