@media only screen and (min-width: 1200px) {
  section {
    padding: 0 2em;
  }
}

[class^="quote"] {
  text-align: right;
}

.quote, .quote-author-name {
  font-style: italic;
}

.quote-author-info, .quote-source {
  font-size: 0.8em;
}

.quote-source {
  margin-bottom: 2em;
}

p {
  font-size: 1em;
  text-align: center;
  margin: 0.8em 0;
}

footer > p {
  text-align: right;
  padding-right: 3em;
}

a {
  text-decoration: underline;
}