<cza-book>
  <p class="author">
    dr hab. n. farm. Leszek Marszałł<br>
    <small>aptekarz praktyk z apteki "Pod Orłem" w Nowem nad Wisłą</small>
  </p>

  <h2>
    Problemy technologiczne i ich rozwiązywanie w&nbsp;recepturze dermatologicznej <br>
    <small>Teoria i praktyka</small>
  </h2>

  <p>
    Format 168x238 mm, s. 156, bogate piśmiennictwo, oprawa miękka lakierowana. <br>
    ISBN 978-83-64388-14-9
  </p>

  <p>
    <strong>Koszt książki</strong> (wraz z kosztem pakowania i przesyłki kurierskiej)<br>
    <strong>dla prenumeratorów</strong> "Czasopisma Aptekarskiego" wynosi <strong>85,00 zł</strong> brutto,<br>
    zaś <strong>dla nieprenumeratorów 103,00 zł</strong> brutto.
  </p>
</cza-book>