<div>
  <h3>Numery archiwalne "Czasopisma&nbsp;Aptekarskiego"</h3>

  <section>
    <h4>Rok 2012</h4>
    <a href="/assets/pdf/archival-cza/2012/cza01-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 1/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza02-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 2/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza03-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 3/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza04-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 4/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza05-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 5/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza06-07-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 6-7/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza08-09-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 8-9/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza10-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 10/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza11-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 11/2012
    </a>
    <a href="/assets/pdf/archival-cza/2012/cza12-2012.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 12/2012
    </a>
  </section>

  <section>
    <h4>Rok 2011</h4>

    <a href="/assets/pdf/archival-cza/2011/cza01-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 1/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza02-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 2/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza03-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 3/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza04-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 4/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza05-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 5/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza06-07-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 6-7/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza08-09-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 8-9/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza10-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 10/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza11-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 11/2011
    </a>
    <a href="/assets/pdf/archival-cza/2011/cza12-2011.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 12/2011
    </a>
  </section>

  <section>
    <h4>Rok 2010</h4>

    <a href="/assets/pdf/archival-cza/2010/cza01-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 1/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza02-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 2/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza03-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 3/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza04-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 4/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza05-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 5/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza06-07-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 6-7/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza08-09-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 8-9/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza10-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 10/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza11-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 11/2010
    </a>
    <a href="/assets/pdf/archival-cza/2010/cza12-2010.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 12/2010
    </a>
  </section>

  <section>
    <h4>Rok 2009</h4>

    <a href="/assets/pdf/archival-cza/2009/cza01-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 1/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza02-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 2/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza03-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 3/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza04-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 4/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza05-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 5/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza06-07-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 6-7/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza08-09-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 8-9/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza10-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 10/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza11-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 11/2009
    </a>
    <a href="/assets/pdf/archival-cza/2009/cza12-2009.pdf" target="_blank">
      • "Czasopismo Aptekarskie" nr 12/2009
    </a>
  </section>
</div>