/* :host>* {
    height: 100%;
  } */

  main {
    min-width: var(--main-content-min-width);
  }

  /* .hidden {
    opacity: 0;
  }

  .show {
    animation: showElement 0.5s;
  }

  @keyframes showElement {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  } */

  article, section {
    margin: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main-color);
  }
  
  header {
    text-align: center;
    margin-bottom: 1em;
  }

  figure img {
    border: 1px solid var(--main-color);
  }

  figcaption {
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
  }

  img {
    width: 100%;
    /* height: auto;
    max-width: 400px; */
    /* max-width: 400px; */
  }

  .img-max-width-normal, .fig-max-width-normal {
    max-width: 400px;
  }

  .img-max-width-big, .fig-max-width-big {
    max-width: 600px;
  }

  .text-on-the-left-or-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-on-left-near-img {
    order: 2;
    text-align: justify;
    margin-right: 0;
    margin-top: .75em;
  }

  .img-near-text {
    order: 1;
    display: block;
    max-width: 400px;
    border: 1px solid var(--main-color);
  }

  .multi-column-3 {
    column-count: 3;
    column-width: 330px;
    column-gap: 1.2em;
    text-align: justify;
  }

  /************************************************** 
  * Style of figure and figcaption for width < 1200px 
  * Caption is justified and under image
  **************************************************/
  /* figure:not([style*='width']):not(.center) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figure:not([style*='width']) > figcaption {
    text-align: justify;
  } */

  /*************************************************** 
  * Style of figure and figcaption for width >= 1200px 
  * Caption is aligned to the left and on the right side of the image
  ****************************************************/
  @media only screen and (min-width: 1200px) {
    /* figure:not([style*='width']):not(.center) {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    
    figure:not([style*='width']) > figcaption {
      margin-left: 0.8em;
      text-align: left;
    } */

    header {
      padding: 0 2em;
    }

    .text-on-the-left-or-bottom {
      flex-direction: row;
      align-items: flex-end;
    }

    .text-on-left-near-img {
      order: 1;
      margin-right: 1em;
      margin-top: 0;
      text-align: right;
    }

    .img-near-text {
      order: 2
    }
  }
