<cza-frame>
  <main>
    <!-- ARTICLE START ------------------------------------------- -->
    <article class="show" (animationend)="showNextArticle($event)">
      <section class="body center">
        <a href="#" target="_blank" style="text-align:center"><strong>Wykaz dostępnych publikacji książkowych
            Wydawnictwa Farmapress przydatnych w&nbsp;ciągłym szkoleniu farmaceutów</strong>
        </a>
      </section>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article class="hidden">
      <section class="body center">
        <a href="/assets/documents/cza-prenum-2019-2polr.pdf" target="_blank">
          <img src="/assets/images/cza-prenum-2019-2polr.jpg" width="437" alt="Prenumerata 'Czasopisma Aptekarskiego'">
        </a>
      </section>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article class="hidden">
      <section class="body center">
        <a href="/assets/documents/pacjent-z-bolem-s47.pdf" target="_blank">
          <img src="/assets/images/pacjent-z-bolem-s47.jpg" width="437"
            alt="Konferencja 'Pacjent z bólem pod opieką farmaceuty'" style="display:flex">
        </a>

        <a href="https://opiekaodzaraz.pl/konferencjabol2019" target="_blank"
          style="background-color: #734A00; color:white; padding:5px 8px; margin: 5px 0 5px 0">Zarezerwuj miejsce /
          bilet</a>

        <a href="https://opiekaodzaraz.pl/konferencjabol2019" target="_blank">
          <img src="/assets/images/pacjent-z-bolem.jpg" width="437"
            alt="Konferencja 'Pacjent z bólem pod opieką farmaceuty'">
        </a>
      </section>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article>
      <header>
        <p class="title">Być albo nie być Ustawy o zawodzie farmaceuty</p>
        <p class="author-name">Bogdan Ostrowski</p>
      </header>

      <section class="body">
        <p>
          Prof. dr hab. Jerzy Masiakowski był pierwszym (w odradzającym się samorządzie aptekarskim), który w 1995 r. na
          łamach specjalnego wydania "Czasopisma Aptekarskiego" nr 4 (6), s. 13-22 opublikował własny autorski projekt
          ustawy o zawodzie farmaceuty.
        </p>
        <p>
          Dokument ten spotkał się z ostrą krytyką Naczelnej Rady Aptekarskiej oraz okręgowych izb aptekarskich. Wśród
          oponentów znaleźli się także prawnicy i ówcześni pracownicy Ministerstwa Zdrowia, którzy zwrócili uwagę
          Autorowi
          na cały szereg błędów legislacyjnych. Po kilkunastu miesiącach projekt zwany "Projektem Masiakowskiego" umarł
          śmiercią naturalną. Jak naszym Czytenikom wiadomo, do tematu powrócono dokładnie po 23 latach w formie
          nieupublicznianych projektów, tajemniczych dyskusji, poufnych narad i bez konsultacji ze środowiskiem
          aptekarskim.
        </p>
        <p>
          Obecny projekt Ustawy o Zawodzie farmaceuty przygotowano na 88 stronach, a jego uzasadnienie na 55 stronach.
          Ani aktualny projekt, ani uzasadnienie nie są na miarę XXI wieku i wymagają dopracowania.
        </p>
        <p>
          Biorąc pod uwagę czas i obowiązującą procedurę legislacyjną, nie istnieją żadne przesłanki, aby parlament
          obecnej kadencji pochylił się nad projektem ustawy. Tym bardziej, że dokument jeszcze nie wyszedł z
          Ministerstwa
          Zdrowia (do czasu wydania niniejszego wydania "Czasopisma Aptekarskiego").
        </p>
        <p>
          Redakcja w okresie ostatniego roku otrzymała od Czytelników szereg uwag dotyczących projektu ustawy.
          Wskazywano
          również na występujące braki w definicjach, które mogą wzbudzać wątpliwości i różne interpretacje, np. brak
          definicji Rady Aptekarskiej i Izby Aptekarskiej, ale za to pojawiła się nowa definicja "okręgowa rada izby
          aptekarskiej". Takich przykładów jest wiele.
        </p>
        <p>
          Zdziwienie nasze budzi fakt, że w projecie ustawy lansuje się Dobrą Praktykę Dystrybucyjną, a pomija Dobrą
          Praktykę Apteczną zwaną też Dobrą Praktyką Farmaceutyczną.
        </p>
        <p>
          Do szczegółowej interpretacji nowego projektu Ustawy o Zawodzie farmaceuty powrócimy w kolejnych wydaniach
          "Czasopisma Aptekarskiego". Redakcja deklaruje zorganizowanie, pod auspicjami Naczelnej Rady Aptekarskiej,
          debaty na temat nowego projektu Ustawy o Zawodzie farmaceuty, np. w Centrum Prasowym w Warszawie.
          Liczymy na poparcie inicjatywy.
        </p>
      </section>

      <footer>
        <p>>>> "Czasopismo Aptekarskie" nr 4/2018</p>
        <p>str. 3</p>
      </footer>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article>
      <section class="body center">
        <a href="/assets/documents/zaproszenie-konin.pdf" target="_blank">
          <img src="/assets/images/zaproszenie-konin.jpg" width="437"
            alt="Zaproszenie na konferencję naukową 'Zdrowie sport uroda'">
        </a>
      </section>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article>
      <header>
        <p class="title">Przygotuj się na Zintegrowany System Monitorowania Obrotu Produktami Leczniczymi (ZSMOPL)</p>
        <p class="author-name">Ewa Jońska</p>
        <p class="author-position">Kierownik Wydziału Informacji i Promocji Centrum Systemów Informacyjnych Ochrony
          Zdrowia</p>
      </header>

      <section class="body">
        <p>
          <strong>
            Od 1 kwietnia 2019 roku wszystkie podmioty, które prowadzą obrót produktami leczniczymi, środkami
            spożywczymi specjalnego przeznaczenia żywieniowego lub wyrobami medycznymi będą zobowiązane do przesyłania
            elektronicznych raportów do Zintegrowanego Systemu Monitorowania Obrotu Produktami Leczniczymi (ZSMOPL).
          </strong>
        </p>
        <p>
          Głównym celem wdrożenia systemu jest usprawnienie procesów biznesowych związanych z gromadzeniem,
          przetwarzaniem i udostępnianiem danych o obrocie produktami leczniczymi.
        </p>
        <p>
          Obowiązek raportowy obejmie apteki i punkty apteczne, działy farmacji szpitalnej i apteki szpitalne, hurtownie
          farmaceutyczne oraz tzw. podmioty odpowiedzialne, czyli przedsiębiorców, którzy wnioskują lub uzyskali
          pozwolenie na dopuszczenie do obrotu produktu leczniczego. W systemie będą gromadzone dane na temat obrotu
          produktami leczniczymi, refundowanymi środkami spożywczymi specjalnego przeznaczenia żywieniowego oraz
          refundowanymi wyrobami medycznymi. Poza tym system umożliwi zgłaszanie braków produktów oraz planów dostaw.
          Cyfryzacja tego obszaru ochrony zdrowia ma kluczowe znaczenie. Na podstawie wiarygodnych i aktualnych danych
          na temat obrotu produktami leczniczymi instytucje takie jak Ministerstwo Zdrowia czy Główny Inspektorat
          Farmaceutyczny będą mogły efektywnie realizować politykę lekową państwa, a tym samym dbać o dobro pacjentów.
        </p>
        <p>
          Obowiązek przesyłania raportów do Zintegrowanego Systemu Monitorowania Obrotu Produktami Leczniczymi
          <strong>został
            określony w ustawie z dnia 20 lipca 2018 roku o zmianie ustawy o systemie informacji w ochronie zdrowia oraz
            niektórych innych ustaw</strong> (Dz. U. 2018 poz. 1515). Obowiązek ten został wyznaczony na <strong>1
            kwietnia 2019 roku</strong>.
        </p>
        <p style="text-align:center">
          W przypadku pytań proszę o kontakt:<br>
          tel. +48 501 371 079<br>
          e-mail: e.jonska@csioz.gov.pl<br>
        </p>
      </section>

      <footer>
        <p>>>> szerzej w: "Czasopismo Aptekarskie" nr 3/2018</p>
        <p>str. 10-13</p>
      </footer>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article>
      <header>
        <p class="title">Opakowanie gwarantem stabilnego i estetycznego leku recepturowego</p>
        <p class="author-name">dr n. farm. Regina Kasperek-Nowakiewicz</p>
        <p class="author-position">
          Specjalista Farmacji Aptecznej, Katedra i Zakład Farmacji Stosowanej, Uniwersytet Medyczny w Lublinie
        </p>
      </header>

      <section class="body">
        <p>
          W nowoczesnej aptece pacjent powinien zostać zaopatrzony w ładnie, estetycznie zapakowany lek recepturowy,
          który jednocześnie będzie bezpieczny ze względu na zachowaną trwałość podczas jego stosowania oraz odpowiednią
          jakość. Przed przystąpieniem do wykonania leku recepturowego farmaceuta wybiera odpowiedni sposób jego
          przyrządzenia, sprawdza dawki substancji leczniczych, dokładnie odważa składniki leku, przygotowuje sprzęt
          niezbędny do sporządzenia leku, ale także musi dobrać właściwe opakowanie. W procesie wytwarzania leku
          recepturowego sprawa wyboru opakowania może wydawać się drugorzędna, jednak należy pamiętać, że ma ono
          zapewnić odpowiednią trwałość leku, umożliwić jego aplikację, a estetyką wyglądu zachęcić pacjenta do jego
          stosowania. Zapewnienie odpowiedniej ilości i jakości opakowań dla różnych form leków recepturowych jest
          konieczne do właściwej organizacji pracy w recepturze. Opakowania farmaceutyczne i materiały przeznaczone do
          opakowań leków powinny spełniać wymagania zawarte w normach Międzynarodowej Organizacji Normalizacyjnej (ISO)
          i w farmakopeach. Wymagania normy ISO realizowane są przy uwzględnieniu zasady Dobrej Praktyki Wytwarzania
          (GMP), dotyczącej produkcji i kontroli produktów leczniczych.
        </p>
      </section>

      <footer>
        <p>>>> szerzej w: "Czasopismo Aptekarskie" nr 3/2019</p>
        <p>str. 22-26</p>
      </footer>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article>
      <section class="body">
        <figure class="side-caption">
          <img src="/assets/images/zurek-album-okladka.jpg" alt="Okładka albumu o Aleksandrze Żurku">
          <figcaption>
            Szanowni Czytelnicy, przedstawiamy Państwu do konsultacji projekt okładki albumu poświęconego życiu i
            działalności mgr. farm. Aleksandra Żurka. Wydawnicto Farmapress - wydawca "Czasopisma Aptekarskiego"
            przygotowuje wydanie albumu w III dekadzie II&nbsp;kwartału 2019 r. Liczymy na Państwa uwagi, nowe
            propozycje bądź akceptację prezentowanego projektu.
          </figcaption>
        </figure>
      </section>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article>
      <header>
        <p class="title">Sytuacja aptek niezależnych, okiem "Aptecznych (R)ewolucji"</p>
      </header>

      <section class="body">
        <p>
          <strong>
            Wcale nie konkurencja, ale inne drobne niedociągnięcia w obszarze brandingu są częstym problemem
            niesieciowych aptek - wynika z obserwacji ekspertów programu "Apteczne (R)ewolucje".
          </strong>
        </p>
        <p>
          W prowadzeniu biznesu aptecznego ważne jest sprecyzowanie grupy pacjentów, którzy trafiają do apteki i
          dostosowanie stanu magazynowego do ich potrzeb. Istotna jest także analiza konkurencji oraz inne detale, na
          które zwraca uwagę ekspert Zbigniew Kowalski.
        </p>
        <p>
          Praca farmaceuty jest bardzo wymagająca, czasami trudno spojrzeć obiektywnie na swoją placówkę. Wtedy warto
          zasięgnąć porady specjalisty, który może dostrzec aspekty funkcjonowania apteki, których na co dzień nie
          sposób zaobserwować. Czasami drobne szczegóły, takie jak: świecący neon na dachu lub widoczny szyld z napisem
          "Apteka - otwarte" i godzinami pracy, przejrzyste, czyste witryny, dobra ekspozycja preparatów na wysokości
          wzroku, jasna zadbana elewacja, potrafią przynieść naprawdę dobre rezultaty.
        </p>
        <p>
          - <em> W danej lokalizacji miałem okazję zapytać mieszkańców i pacjentów czy znali konkretną aptekę.
            Mieszkańcy sądzili, że jest to nowa placówka, nie znali jej, podczas gdy apteka funkcjonuje już od sześciu
            lat. W przypadku drugiej apteki, przechodnie podejrzewali, że jest ona nieczynna ze względu na zainstalowane
            kraty w oknacho raz nieestetyczny wygląd budynku. W innej placówce, pomimo jej dogodnego położenia obok
            popularnego marketu, pacjenci nie trafiali do apteki, bo nie była ona właściwie oznakowana, a znajdowała się
            dosłownie po drugiej stronie tego samego budynku</em> - wyjaśnia Zbigniew Kowalski.
        </p>
        <p>
          Właściciele niezależnych aptek często wskazują na konkurencję tzw. sieciówek jako ich główny problem i powód
          zmniejszenia liczby pacjentów. Jednak, okazuje się, że często nie zdają sobie sprawy z małych, ale istotnych
          szczegółów, które mogą wpływać na odpowiednie postrzeganie apteki.
        </p>
        <p>
          - <em>Uwagi eksperta okazały się bardzo przydatne. Nie patrzyłem dotąd na moją aptekę w taki sposób, jaki
            zrobił to pan Zbigniew Kowalski. Zawsze wydawało mi się, że największy problem stanowi konkurencja aptek
            sieciowych, tymczasem chodzi o coś zupełnie innego. Ekspert zwrócił naszą uwagę na ekspozycję preparatów
            oraz lepszą ofertę asortymentu dostosowanego do grupy naszych pacjentów, którymi są przede wszystkim
            seniorzy. Zwrócę uwagę na te szczegóły i wprowadzę zmiany zaproponowane przez eksperta programu "Apteczne
            (R)ewolucje"</em> - mówi mgr farm. Marcin Zdanowicz, właściciel finałowej apteki z Dzierżoniowa.
        </p>
        <p>
          Siłą małych, indywidualnych aptek jest jednak coś, czego nie mają "sieciowi" rywale. Jest to czas. Czas, który
          farmaceuta może poświęcić na nawiązanie relacji z pacjentem, wysłuchać, zrozumieć i doradzić. Niezależne
          apteki mogą podarować pacjentowi coś więcej, poza standardową obsługą. Pacjent nie czuje się w takim miejscu
          anonimowy. Takie apteki, to często biznesy rodzinne, z tradycjami. Farmaceuci znają swoich pacjentów, wiedzą
          na jakie cierpią schorzenia i po jakie leki przychodzą, znają historie ich chorób.
        </p>
        <p>
          Aż 85% pacjentów aptek uważa, że kultura osobista pracowników jest jedną z najważniejszych cech obsługi w tym
          miejscu, a dla 84% z nich, jest to uzyskanie wyczerpującej odpowiedzi od farmaceuty na wszystkie zadane
          pytania. 83% badanych podkreśla także, ze ważna jest dla nich przyjazna i bezpieczna atmosfera panująca w
          aptece - wynika z badania opinii, przeprowadzonego w ramach programu "Apteczne (R)ewolucje". - <em>Pacjenci
            nie szukają "taśmowej" obsługi tylko profesjonalnego doradztwa. Prowadzenie apteki to misja
            niesienia pomocy, ogromna odpowiedzialność, ale także biznes, choć inny niż wszystkie. Znajomość preferencji
            pacjenta i zdobycie jego zaufania jest kluczowe w osiągnięciu sukcesu na konkurencyjnym rynku. Z moich
            obserwacji wynika, że farmaceuci, którzy pracują w aptekach indywidualnych, to bardzo zaangażowani w pracę,
            kompetentni profesjonaliści, ale także pełni empatii i wyrozumiałości ludzie. I To jest wielka siła małych,
            prywatnych aptek, w które bardzo wierzę</em> - podsumowuje ekspert.
        </p>
        <p>
          Konkurs "Apteczne (R)ewolucje" został skierowany do właścicieli i kierowników aptek niesieciowych. Nagrodą
          była wizyta eksperta w ich aptece, a następnie przekazanie biznes planu szytego na miarę każdej z nich. Apteki
          otrzymały także wsparcie finansowe na realizację dodatkowych potrzeb w zakresie oznakowania placówki, czy
          elementów wyposażenia. Jury wybrało trzy apteki położone w Bielsku-Białej, Dzierżoniowie i Łodzi. Ekspert
          odwiedził każdą z nich, rozmawiał z właścicielami, zwiedził okolice, zbadał konkurencję, a wreszcie zapytał
          okolicznych mieszkańców, co sądzą o finałowych placówkach.
        </p>
      </section>

      <footer>
        <p>>>> w: "Czasopismo Aptekarskie" nr 2/2018</p>
        <p>str. 26-27</p>
      </footer>
    </article>

    <!-- ARTICLE START ------------------------------------------- -->
    <article>
      <header>
        <p class="title">Święto u Przyjaciół</p>
      </header>

      <section class="body">
        <p>
          <figure class="bottom-caption mr-1 mb-1 fl" style="width:165px">
            <img src="/assets/images/swieto-lekarzy_8157.jpg" alt="Waldemar Kostewicz">
            <figcaption>
              Uroczystości odbyły się pod przewodnictwem prezesa Zarządu Głównego PTL prof. dr. med. Waldemara
              Kostewicza
            </figcaption>
          </figure>

          Pod honorowym patronatem Pierwszej Damy RP Agaty Kornhauser-Duda w Sali Wielkiej Zamku Królewskiego w
          Warszawie 26 października 2018 r. odbyła się uroczysta gala Polskiego Towarzystwa Lekarskiego, na której
          uhonorowano odznaczeniami PTL i Medalem Gloria Medicinae zasłużonych lekarzy oraz osoby współpracujące na
          rzecz chwały środowiska lekarskiego.
        </p>
        <p>
          W trakcie uroczystości nadano godność "Medicus Nobilis" dr. med. Franciszkowi Dudzikowi z Poznania.
        </p>
        <p>
          Odznaczono odznaką "Zasłużonemu Polskie Towarzystwo Lekarskie": dr Grażynę Perlińską Siuda, red. Katarzynę
          Strzałkowską, dr med. Ryszardę Golańską i Oddział PCK w Wągrowcu.
        </p>
        <p>
          Odznaczeniem i Tytułem "Bene Meritus" wyróżniono: dr Hannę Kostrzewską ze Śremia, dr med. Elżbietę Szymańską z
          Bydgoszczy, dr med. Krystynę Jaworską z Torunia, dr Halinę Kryszk z Torunia, dr Ewę Konkolewską-Myśliwiec z
          Torunia.
        </p>
        <p>
          Dyplomem "Przyjaciel Po Wsze Czasy Polskiego Towarzystwa Lekarskiego" została uhonorowana dr Katarzyna
          Urbańska za wzdrożenie programu profilaktyczno-edukacyjnego firmy Servier - "Wyłącz raka", Przemysław
          Kieliszewski, dyrektor Teatru Muzycznego w Poznaniu oraz prezes Zarządu Katarzyna Kacperska i dyrektor dr
          Wojciech Gryta z firmy Novo Nordisk Pharma.
        </p>

        <figure class="side-caption mb-1 mt-1">
          <img src="/assets/images/swieto-lekarzy_8208.jpg" style="width:437px" alt="foto">
          <figcaption>
            Honorowym tytułem "Medicus Perfectus" oraz nagrodą INTER-POLSKA wyróżniono prof. dr med. Eugeniusza
            Murawskiego, który mimo sędziwego wieku 91 lat wciąż dojeżdża ze Szczecina do Szpitala w Gorzowie
            Wielkopolskim i pracuje jako chirurg dziecięcy
          </figcaption>
        </figure>

        <figure class="side-caption">
          <img src="/assets/images/swieto-lekarzy_8292.jpg" style="width:437px" alt="foto">
          <figcaption>
            Medalem Gloria Medicinae uhonorowani zostali Pleno Titulo lekarze: Ewelina Hrycaj-Malanicz z Lwowa, Paweł
            Lampe, Grzegorz Opala i Grzegorz Cieślar wszyscy z Katowic, Ryszard Długołęcki z Bydgoszczy, Leszek Tomasz
            Roś i Joanna Żytyńska-Daniluk obydwoje z Warszawy, Piotr Podolec i Stanisław Malinowski obydwaj z Krakowa
            oraz Antoni Sukiennicki z Ostrowia Wielkopolskiego
          </figcaption>
        </figure>

        <figure class="side-caption mb-1">
          <img src="/assets/images/magowska_8255.jpg" style="width:437px" alt="foto">
          <figcaption>
            Prezes Rady Fundacji im. Jakuba hr. Potockiego, honorowy prezes Polskiego Towarzystwa Lekarskiego prof. dr
            n. med. Jerzy Woy-Wojciechowski wręczył nagrodę Fundacji prof. dr hab. Anicie Magowskiej - kierownikowi
            Katedry i Zakładu Historii i Filozofii Nauk Medycznych Uniwersytetu Medycznego im. Karola Marcinkowskiego w
            Poznaniu za naukowe publikacje z zakresu ftyzjatrii, a zwłaszcza historii leczenia gruźlicy w czasopiśmie
            naukowym Acta Medicorum Polonorum wydawanym pod patronatem Polskiego Towarzystwa Lekarskiego we współpracy z
            Okręgową Wielkopolską Izbą Lekarską
          </figcaption>
        </figure>

        <figure class="center-without-caption">
          <img src="/assets/images/swieto-lekarzy_8262.jpg" style="width:437px" alt="foto">
        </figure>
      </section>

      <footer>
        <p>>>> szerzej w: "Czasopismo Aptekarskie" nr 2/2018</p>
        <p>str. 28-31</p>
      </footer>
    </article>
  </main>
</cza-frame>