<cza-book>
  <p class="author">Łukasz Kot</p>

  <h2>
    <span style="font-size: larger">Leopold Skulski</span><br>
    <small>prowizor farmacji • inżynier chemik • aptekarz praktyk nadburmistrz • poseł na Sejm Ustawodawczy • prezydent
      ministrów II RP</small>
  </h2>

  <p>
    Format: 21 x 29 cm. Oprawa: twarda, szyta, obwoluta. Papier: kreda błyszcząca. Liczba stron: 400. Liczba ilustracji:
    170. Bibliografia, spis ilustracji, objaśnienie najczęściej występujących skrótów i nazw oraz
    indeks nazwisk. Waga: ok. 2 kg. Nakład limitowany.<br>
    ISBN 978-83-64388-02-6
  </p>

  <p>
    <strong>Koszt albumu: 212,10 zł</strong> (w tym 5% VAT)<br>
    <strong>+ przesyłka kurierska 20 zł</strong> brutto.
  </p>
</cza-book>