<div>
  <h2>Spisy treści</h2>

  <!-- <img src="assets/images/line-with-shadow.gif" style="width:350px; height:13px" alt="separator"> -->
  <img src="/assets/images/permanent/line-with-shadow.gif" alt="separator">

  <section>
    <h3>Rok 2022</h3>
    <a href="/assets/cza-2023/cza-2023-01/cza-2023-01-annual-toc-2022.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2021</h3>
    <a href="/assets/cza-2022/cza-2022-02/cza-2022-02-annual-toc-2021.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2020</h3>
    <a href="/assets/cza-2021/cza-2021-02/cza-2021-02-annual-toc-2020.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2019</h3>
    <a href="/assets/cza-2020-02/cza-sp-tr-2019.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2018</h3>
    <a href="/assets/pdf/cza-sp-tr-2018.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2017</h3>
    <a href="/assets/pdf/cza-sp-tr-2017.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2016</h3>
    <a href="/assets/pdf/cza-sp-tr-2016.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2015</h3>
    <a href="/assets/pdf/cza-sp-tr-2015.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2014</h3>
    <a href="/assets/pdf/cza-sp-tr-2014.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
  </section>

  <section>
    <h3>Rok 2013</h3>
    <a href="/assets/pdf/cza-sp-tr-2013.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
    <a href="/assets/pdf/farm-szpit-sp-tr-2013.pdf" target="_blank">"Farmacja Szpitalna"</a>
  </section>

  <section>
    <h3>Rok 2012</h3>
    <a href="/assets/pdf/cza-sp-tr-2012.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
    <a href="/assets/pdf/farm-szpit-sp-tr-2012.pdf" target="_blank">"Farmacja Szpitalna"</a>
    <a href="/assets/pdf/tech-farm-sp-tr-2012.pdf" target="_blank">"Technik Farmaceutyczny w Aptece"</a>
  </section>

  <section>
    <h3>Rok 2011</h3>
    <a href="/assets/pdf/cza-sp-tr-2011.pdf" target="_blank">"Czasopismo Aptekarskie"</a>
    <a href="/assets/pdf/farm-szpit-sp-tr-2011.pdf" target="_blank">"Farmacja Szpitalna"</a>
    <a href="/assets/pdf/tech-farm-sp-tr-2011.pdf" target="_blank">"Technik Farmaceutyczny w Aptece"</a>
  </section>
</div>