:host > div > * {
  display: block;
}

.container {
  display: block;
  margin: 0 auto;

  /* display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "header header header" 
    "body body body"
    "footer footer footer"; */
    /* overflow-x: auto; */
  }
  
  /* cza-header {
    grid-area: header;
  }
  
  cza-body {
    grid-area: body;
  }
  
  cza-footer {
    grid-area: footer;
  }
  
  @media only screen and (min-width: 720px) {
    .container {
      grid-template-areas: 
        "header header header" 
        "body body body"
        "footer footer footer";
  }
} */

/* cza-body, cza-footer {
  flex-grow: 1;
} */

cza-header {
  margin: 0 auto;
}

@media only screen and (min-width: 850px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 80%;
  }
}