<div>
  <!-- SECTION START ------------------------------------------- -->
  <section>

    <div class="text-center">
      <p>
        <strong>SZANOWNI CZYTELNICY</strong>
      </p>
      <p>
        "Czasopismo Aptekarskie" ukazuje się od 26 lat.
      </p>
      <p>
        Jest ogólnopolskim miesięcznikiem o profilu
        naukowo-zawodowym adresowanym tylko do aptekarzy, farmaceutów, lekarzy, producentów i dystrybutorów leków,
        farmaceutycznych organizacji naukowych i gospodarczych związanych z aptekarstwem i farmacją.
      </p>
      <p>
        Wspiera działalność samorządu aptekarskiego i służy radą aptekom, hurtowniom i&nbsp;producentom.
      </p>
      <p>
        Współpracuje z wydziałami farmaceutycznymi uczelni medycznych, organizacjami i&nbsp;stowarzyszeniami
        aptekarskimi w
        Polsce i na świecie.
      </p>
    </div>

    <p>
      <strong>Na łamach Czasopisma Aptekarskiego publikujemy między innymi:</strong>
    </p>

    <ul>
      <li>
        artykuły poświęcone opiece farmaceutycznej oraz o samorządzie aptekarskim i&nbsp;o&nbsp;problemach zawodu,
      </li>
      <li>
        wybrane zagadnienia z prawa farmaceutycznego,
      </li>
      <li>
        przedstawiamy sylwetki aptekarzy oraz osób związanych z farmacją,
      </li>
      <li>
        prezentujemy producentów, importerów, eksporterów i dystrybutorów leków,
      </li>
      <li>
        porady prawne i ekonomiczne,
      </li>
      <li>
        informacje o nowych lekach i farmakoekonomice,
      </li>
      <li>
        zagadnienia naukowe poświęcone aptekarstwu i farmacji,
      </li>
      <li>
        materiały źródłowe omawiające Dobrą Praktykę Aptekarską, Dobrą Praktykę Wytwórczą i Dobrą Praktykę
        Dystrybucyjną,
      </li>
      <li>
        materiały samokształceniowe dotyczące farmakologii, farmakoekonomiki i&nbsp;komunikacji.
      </li>
    </ul>

    <div class="text-center">
      <p>
        Organizujemy ogólnopolskie seminaria i regionalne spotkania z aptekarzami poświęcone prawnym i ekonomicznym
        aspektom prowadzenia apteki oraz etyce marketingu farmaceutycznego.
      </p>
      <p>
        Czasopismo Aptekarskie dostępne jest wyłącznie w prenumeracie<br>
        (szczegóły pod numerem telefonu 601 282 404).
      </p>
    </div>

  </section>
</div>