<cza-album>

  <!-- ALBUM-QUOTE -------------------------------------->
  <div class="album-quote">
    <p class="quote">
      W obrazach Krystyny Głowniak dobór wizualnych "słów" i znaków jak w poetyckiej frazie podlega najwyższej selekcji
      mającej na celu trafność wyrażania.
    </p>
    <p class="quote-author-name">prof. Jan Pamuła</p>
    <p class="quote-author-info">
      W latach 1996-2008 prorektor, a następnie rektor Akademii Sztuk Pięknych w Krakowie.
    </p>
    <p class="quote-source">
      [w:] Galeria Farmapress, Krystyna Głowniak, Wydawnictwo Farmapress, s. 5
    </p>
  </div>

  <!-- ALBUM-ARTIST -------------------------------------->
  <span class="album-artist">
    W ramach projektu proponujemy Państwu album artystki <br>
    <strong>Krystyny Głowniak</strong>, <br>
    współpracującej z farmaceutami oraz "Czasopismem Aptekarskim".
  </span>

  <!-- ALBUM-DESCRIPTION -------------------------------------->
  <div class="album-description">
    <p>
      Objętość albumu 40 stron, format 205x285 mm, oprawa szyta, twarda, lakierowana.
    </p>
  </div>

</cza-album>