<div>

  <!-- SECTION START ------------------------------------------- -->
  <section>

    <header>
      <h3 style="margin-bottom: 0.55em;"><em>Czy Polska stanie się ojczyzną filozofii farmacji?</em></h3>
      <!-- <h3 style="margin-bottom: 0.55em;"><em>Specjalnie dla „Czasopisma Aptekarskiego”</em></h3> -->
      <h2>Filozofia farmacji i pedagogika – „osobowość etyczno-moralna”</h2>
      <h4>Philosophy of pharmacy and pedagogy – „ethical and moral personality”</h4>
    </header>

    <p class="summary">Streszczenie</p>
    <p>
      W proponowanym artykule omówimy filozofię farmacji z uwzględnieniem elementów pedagogiki. W pieszej części zostanie zdefiniowana i ukazana „osobowość moralno-etyczna” w celu przybliżenia roli i znaczenia wychowania, kształtowania w filozofii farmacji. Druga cześć jest ukierunkowana na rolę i znaczenie „osobowości moralno-etycznej” w działaniach aptekarskich. Konkluzja jest syntetycznym spojrzeniem na całość proponowanego materiału.
    </p>
    <p class="keywords">
      <strong>Słowa kluczowe: </strong>„osobowość moralno-etyczna”, filozofia farmacji, wychowanie
    </p>

    <p class="summary">Summary</p>
    <p>
      In the proposed article, we will discuss the philosophy of pharmacy, taking into account the elements of pedagogy. In the first part, the „moral and ethical personality” will be defined and shown in order to bring closer the role and importance of upbringing and shaping in the philosophy of pharmacy. The second part is focused on the role and meaning of „moral and ethical personality” in pharmacy activities. The conclusion is a synthetic look at the whole of the proposed material.
    </p>
    <p class="keywords">
      <strong>Keywords: </strong>„moral and ethical personality, philosophy of pharmacy, upbringing
    </p>

    <footer>
      <p>dr hab. Jakub Bartoszewski, prof. ANS w Koninie,<br>dr Marianna Styczyńska</p>
      <p>
        e-mail: <a href="mailto:jakub.bartoszewski@konin.edu.pl">jakub.bartoszewski@konin.edu.pl</a>
        <br>
        e-mail: <a href="mailto:marianna.styczynska@konin.edu.pl">marianna.styczynska@konin.edu.pl</a>
      </p>
      <p>str. 17</p>
      <p>"Czasopismo Aptekarskie" nr 5/2023</p>
    </footer>

  </section>

  <!-- SECTION START ------------------------------------------- -->
  <section>

    <header>
      <!-- <h3 style="margin-bottom: 0.55em;"><em>Czy Polska stanie się ojczyzną filozofii farmacji?</em></h3> -->
      <!-- <h3 style="margin-bottom: 0.55em;"><em>Specjalnie dla „Czasopisma Aptekarskiego”</em></h3> -->
      <h2>Nazwa i godło apteki jako marka</h2>
      <h4>The name and emblem of the pharmacy as a brand</h4>
    </header>

    <p class="summary">Streszczenie</p>
    <p>
      Apteki od zawsze posiadały swoje nazwy i godła, co stanowiło markę apteki. Dawniej nazwy i godła aptek symbolizowały związek człowieka i aptekarstwa z naturą. Obecnie godła są rzadko spotykane, a nazwy aptek mają głównie za zadanie zwrócić uwagę pacjenta i pomóc pacjentowi związać się z apteką.
    </p>
    <p class="keywords">
      <strong>Słowa kluczowe: </strong>apteka, nazwa, godło, marka
    </p>

    <p class="summary">Summary</p>
    <p>
      Pharmacies have always had their names and emblems, which constituted the brand of the pharmacy. In the past, the names and emblems of pharmacies symbolized the relationship between man and pharmacy with nature. Currently, emblems are rare, and the names of pharmacies are mainly intended to attract the attention of the patient and help the patient to associate with the pharmacy.
    </p>
    <p class="keywords">
      <strong>Keywords: </strong>pharmacy, name, emblem, brand
    </p>

    <footer>
      <p>dr n. farm. Anna Żuk</p>
      <p>e-mail: <a href="mailto:anna.zuk.farm@gmail.com">anna.zuk.farm@gmail.com</a></p>
      <p>str. 22</p>
      <p>"Czasopismo Aptekarskie" nr 5/2023</p>
    </footer>

  </section>

  <!-- SECTION START ------------------------------------------- -->
  <section>

    <header>
      <!-- <h3 style="margin-bottom: 0.55em;"><em>Czy Polska stanie się ojczyzną filozofii farmacji?</em></h3> -->
      <!-- <h3 style="margin-bottom: 0.55em;"><em>Specjalnie dla „Czasopisma Aptekarskiego”</em></h3> -->
      <h2>Kodeks Etyki Zawodowej Pielęgniarki i Położnej Rzeczpospolitej Polskiej oraz Kodeks Etyki Zawodowej Międzynarodowej Rady Pielęgniarek w oczach studentów pielęgniarstwa</h2>
      <h4>The Code of Ethics for the Professional Nurse and Midwife of the Republic of Poland and the Code of Ethics of the International Council of Nurses as seen by nursing students</h4>
    </header>

    <p class="summary">Streszczenie</p>
    <p>
      Zestaw analiz prac zamieszczonych w zbiorze – „Kodeks Etyki Zawodowej Pielęgniarki i Położnej Rzeczpospolitej Polskiej oraz Kodeks Etyki Zawodowej Międzynarodowej Rady Pielęgniarek w oczach studentów pielęgniarstwa Uniwersytetu Rzeszowskiego 2021/2022”.
    </p>
    <p class="keywords">
      <strong>Słowa kluczowe: </strong>etyka, kodeks etyki, kodeks etyki zawodowej pielęgniarek, studenci pielęgniarstwa, pielęgniarstwo
    </p>

    <p class="summary">Summary</p>
    <p>
      Analysis set of the works included in the collection – „Code of Professional Ethics of Nursing and Postnature of The Republic of Poland and Code of Professional Ethics of the International Council of Nurses in the perceptions of nursing students of the University of Rzeszów 2021/2022”.
    </p>
    <p class="keywords">
      <strong>Keywords: </strong>ethics, code of ethics, nurses’ code of ethics, nursing students, nursing
    </p>

    <footer>
      <p>mgr Agata Potoniec,<br>mgr Justyna Babiarz,<br>Katarzyna Kiszka,<br>Mateusz Kisiel</p>
      <p>e-mail: <a href="mailto:justynab84_84@o2.pl">justynab84_84@o2.pl</a></p>
      <p>str. 28</p>
      <p>"Czasopismo Aptekarskie" nr 5/2023</p>
    </footer>

  </section>

  <!-- SECTION START ------------------------------------------- -->
  <section>

    <header>
      <!-- <h3 style="margin-bottom: 0.55em;"><em>Czy Polska stanie się ojczyzną filozofii farmacji?</em></h3> -->
      <!-- <h3 style="margin-bottom: 0.55em;"><em>Specjalnie dla „Czasopisma Aptekarskiego”</em></h3> -->
      <h2>Theae folium jako surowiec kosmetyczny</h2>
      <!-- <h4>The Code of Ethics for the Professional Nurse and Midwife of the Republic of Poland and the Code of Ethics of the International Council of Nurses as seen by nursing students</h4> -->
    </header>

    <footer>
      <p>Magdalena Koziowska</p>
      <p>e-mail: <a href="mailto:mkoziorowska444@gmail.com">mkoziorowska444@gmail.com</a></p>
      <p>str. 33</p>
      <p>"Czasopismo Aptekarskie" nr 5/2023</p>
    </footer>

  </section>
  
</div>