<div>
  <header>
    Wyróżnienia "Czasopisma&nbsp;Aptekarskiego"
  </header>

  <figure>
    <img src="/assets/images/medals/kartusz-w.jpg" alt="kartusz herbowy">

    <figcaption>
      Kartusz herbowy <em>wersja medalowa</em><br>
      <strong>Honorowego Patrona i członka Honorowej Loży Farmaceutycznej Europejskiego Lauru Farmacji</strong>
    </figcaption>
  </figure>

  <figure>
    <img src="/assets/images/medals/lider-awers-maly-wyostrz.jpg" alt="medal">

    <figcaption>
      <strong>Tytuł i medal Lider Farmacji i Medycyny</strong> jest przyznawany wybitnym osobistościom ze środowiska
      farmaceutycznego i aptekarskiego za szczególne indywidualne osiągnięcia, inicjatywy i przedsięwzięcia w dziedzinie
      nauki, produkcji i dystrybucji leków oraz działalności samorządu aptekarskiego.
    </figcaption>
  </figure>

  <figure>
    <img src="/assets/images/medals/laur-farmacji-awers-maly-wyostrz.jpg" alt="medal">

    <figcaption>
        <strong>Medalami Laur Farmacji i Medycyny</strong> wyróżniane są leki syntetyczne, roślinne i homeopatyczne oraz dystrybutorzy leków za upowszechnianie etyki marketingowej w działalności hurtowej, dystrybucyjnej środków farmaceutycznych i materiałów medycznych.
    </figcaption>
  </figure>

  <figure>
    <img src="/assets/images/medals/medal_1-maly-wyostrz.jpg" alt="medal">
    <img src="/assets/images/medals/medal-rewers-maly-wyostrz.jpg" alt="medal">
    <img src="/assets/images/medals/medal_3-maly-wyostrz.jpg" alt="medal">

    <figcaption>
      <strong>Medalami "Czasopisma Aptekarskiego"</strong> wyróżniani są producenci i dystrybutorzy leków za kompleksową ofertę środków farmaceutycznych i materiałów medycznych dla aptek oraz producenci wyposażenia aptek i hurtowni, a także firmy informatyczne pracujące na rzecz środowiska farmaceutycznego i aptekarskiego.
    </figcaption>
  </figure>

  <footer>
    Medale według pomysłu autorskiego Redaktora Naczelnego "Czasopisma&nbsp;Aptekarskiego"
    zaprojektował Leszek Wieluński, a&nbsp;wykonała pracownia "Brązownik" Juliusza Kwiecińskiego.
  </footer>
</div>