:host > div {
  padding: 0 0.5em;
}

@media only screen and (min-width: 1200px) {
  :host > div {
    padding: 0 1em;
  }
} 

h3 {
  text-align: center;
  margin: 0.7em 0 1em 0;
}

h4 {
  margin: 1.75em 0 0.5em 0;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #734a00;
  text-transform: uppercase;
}

p.toc-author {
  margin-bottom: 0;
  font-style: italic;
}

p:not(.toc-author) {
  font-weight: bold;
  margin-bottom: 0.7em;
}

.copyright {
  margin-top: 2em;
  border: 1px solid var(--main-color);  
  padding: 1em;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--background-color-lighter);
}