<div>
  <h3>Spis treści "Czasopisma Aptekarskiego" nr&nbsp;10/2022</h3>


  <h4>SPRAWY ZAWODU</h4>

  <p>4. Konfrencja "Zdrowie-Sport-Uroda"</p>

  <p class="toc-author">Marta Koton-Czarnecka</p>
  <p>Każdy kolejny tydzień czekania na refundację terapii doustnej odbiera nam nadzieję</p>
  
  <p>W dobie kryzysów musimy zadbać o odporny i stabilny system ochrony zdrowia</p>

  <p>Rynek apteczny po 16 dniach sierpnia 2022 r.</p>


  <h4>INFORMACJE</h4>

  <p class="toc-author">Larysa Żuchowska</p>
  <p>"Adamed Dla Rodziny" – mieszkańcy 6 miast Polski na darmowych badaniach i&nbsp;konsultacjach</p>

  <p class="toc-author">Agnieszka Smużewska</p>
  <p>Rosną długi prywatnej opieki medycznej</p>


  <h4>NAUKA I PRAKTYKA</h4>

  <p class="toc-author">Ewelina Błońska-Sikora, Anna Pomykała</p>
  <p>Profilaktyka żywieniowa zespołu fenyloketonurii matczynej</p>

  <p class="toc-author">Blanka Ulążka</p>
  <p>Edukacja zdrowotna oraz przegląd wybranych składników preparatów złożonych w infekcjach górnych dróg oddechowych</p>

  <p class="toc-author">Maria Rozpłoch, Michał Sapa, Jacek Sapa</p>
  <p>Mosunetuzumab – bispecyficzne przeciwciało jako nowy gracz w leczeniu chłoniaka grudkowego i innych nowotworów limfoproliferacyjnych</p>


  <h4>MAGAZYN HISTORYCZNY FARMACJI I MEDYCYNY</h4>

  <p class="toc-author">Lidia Maria Czyż</p>
  <p>Apteczne sentymenty w Rzeszowie</p>


  <h4>NOWOŚCI WYDAWNICZE</h4>

  <p class="toc-author">Bodgan Lendorf-Ostrowski</p>
  <p>Zielarstwo na terenie Podkarpacia według prac Franciszka Kotuli – Lasowiacy, Rzeszowiacy, Pogórzanie</p>
  
</div>