<div>
  <h3>Spis treści "Czasopisma Aptekarskiego" nr&nbsp;10/2021</h3>


  <h4>SPRAWY ZAWODU</h4>

  <p>4 lata "Apteki dla Aptekarza" – najważniejsze fakty dotyczące regulacji</p>

  <p class="toc-author">Marta Sułkowska</p>
  <p>Badania sondażowe w ramach Forum "Serce Pacjenta"</p>

  <p>Rynek apteczny po 15 sierpnia 2021 r.</p>

  <p>Dr hab. Bożena Karolewicz, prof. UM we Wrocławiu nowym prezesem Polskiego Towarzystwa Farmaceutycznego</p>


  <h4>FILOZOFIA FARMACJI</h4>

  <p class="toc-author">Maria Szyszkowska</p>
  <p>Etyka marketingu farmaceutycznego na tle filozofii farmacji jako nowy kierunek naukowy zainicjowany przez Czasopismo Aptekarskie (fragmenty)</p>


  <h4>NAUKA I PRAKTYKA</h4>

  <p class="toc-author">Karolina Wylegała, Urszula Religioni, Marcin Czech</p>
  <p>Funkcjonowanie farmacji szpitalnej w świetle obowiązującego Prawa farmaceutycznego i Ustawy o zawodzie farmaceuty</p>


  <h4>MAGAZYN HISTORYCZNY FARMACJI I MEDYCYNY</h4>

  <p class="toc-author">Lidia Maria Czyż</p>
  <p>Włoskie korzenie kolbuszowskich aptekarzy</p>


  <h4>ETOS, WIEDZA, KOMPETENCJE I UMIEJĘTNOŚCI</h4>

  <p>Honorowa Nagroda Naukowa im. mgr. farm. Aleksandra Żurka pod Patronatem Hurtowni Farmaceutycznej Salus International Sp. z o.o. w Katowicach</p>


  <h4>SUPLEMENT</h4>

  <p>Z raportu Fundacji Aflofarm. Polacy rok po wybuchu pandemii SARS-CoV-2</p>

</div>