<div>
  <h3>Spis treści "Czasopisma Aptekarskiego" nr&nbsp;12/2022</h3>


  <h4>SPRAWY ZAWODU</h4>

  <p>Stanowisko NRA w sprawie wyrażenia sprzeciwu wobec propozycji obciążenia opłatą roczną podmiotów posiadających zezwolenia na prowadzenie hurtowni farmaceutycznej, aptek ogólnodostępnych lub punktów aptecznych</p>

  <p>Stanowisko organizacji rynku farmaceutycznego w sprawie planowanego wprowadzenia nowej daniny publicznej (tzw. opłaty rocznej)</p>

  <p class="toc-author">Aleksandra Sienkiewicz</p>
  <p>Światowy Dzień Cukrzycy 2022</p>

  <p>Rynek apteczny po 15 dniach listopada 2022 r.</p>
  
  <p class="toc-author">Wiktor Szukiel</p>
  <p>Adamed dba o bezpieczeństwo lekowe kraju poprzez innowacje i inwestycje</p>

  <p>Honorowa Nagroda Naukowa  im. mgr. farm. Aleksandra Żurka pod Patronatem Hurtowni Farmaceutycznej Salus International Sp. z o.o. w Katowicach</p>

  <p>Chcemy wyprzedzić jutro</p>


  <h4>FILOZOFIA FARMACJI Z FARMACEUTAMI DLA FARMACEUTÓW</h4>

  <p class="toc-author">Jakub Bartoszewski</p>
  <p>Czy sztuka może być przyczynkiem dla filozofii farmacji?</p>


  <h4>NAUKA I PRAKTYKA</h4>

  <p class="toc-author">Blanka Ulążka</p>
  <p>Kwas foliowy – kiedy i dla kogo? Najnowsze doniesienia</p>


  <h4>DEBATY KONFERENCJE KONGRESY</h4>

  <p class="toc-author">Marcin Ożarowski</p>
  <p>4 Interdyscyplinarna Konferencja Naukowa „Zdrowie – Sport – Uroda” Profilaktyka Zdrowotna</p>

  <p class="toc-author">Wiktor Szukiel</p>
  <p>Dr Jerzy Jambor laureatem Medalu Eta Hoffmanna</p>


  <h4>MAGAZYN HISTORYCZNY FARMACJI I MEDYCYNY</h4>

  <p class="toc-author">Anna Żuk</p>
  <p>W 110 rocznicę Pierwszego Zjazdu Aptekarzy Królestwa Polskiego w Łodzi. Teraźniejszość i przyszłość farmacji. 
    Nadzieje i obawy.</p>

  <p class="toc-author">Monika Urbanik, Katarzyna Jaworska</p>
  <p>Manuał z apteki Witolda Augustowskiego w Wilnie</p>
  
</div>