<div style="padding-left: 1em;padding-right: 1.5em;">
    <header>
        <h2 class="mt-3 mb-3 center">Klauzula informacyjna RODO</h2>
    </header>
    
    <p class="mb-3" style="text-align: justify;">Zgodnie z treścią art. 13 Rozporządzenia Parlamentu Europejskiego i&nbsp;Rady (UE) 2016/679 z&nbsp;27&nbsp;kwietnia 2016 roku w&nbsp;sprawie ochrony osób fizycznych w&nbsp;związku z&nbsp;przetwarzaniem danych osobowych i&nbsp;w&nbsp;sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych), dalej "RODO" – informuje się, iż:</p>
    <ol>
        <li>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Farmapress Wiktor Szukiel w (04-337) Warszawie, przy ul. Obarowskiej 23/2 zwane dalej Wydawnictwem.</li>
        <li>Z Inspektorem ochrony danych wyznaczonym przez Administratora można kontaktować się mailowo pod adresem cza@cza.pl, a także pocztą tradycyjną pod adresem jak w&nbsp;p.&nbsp;1, z&nbsp;dopiskiem „do Inspektora Ochrony Danych”.</li>
        <li>Pani/Pana dane osobowe przetwarzane są na podstawie art. 6 ust. 1 lit. b i c RODO w celu realizacji procesu wydawniczego.</li>
        <li>Pani/Pana dane osobowe będą przechowywane w trakcie procesu recenzyjnego i&nbsp;wydawniczego oraz na potrzeby archiwizacji dokumentacji związanej z&nbsp;procesem recenzyjnym i&nbsp;wydawniczym według okresów wskazanych w przepisach szczegółowych.</li>
        <li>Posiada Pani/Pan prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo wniesienia sprzeciwu.</li>
        <li>Ma Pani/Pan prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych (ul. Stawki 2, 00-193 Warszawa), gdy uzna Pani/Pan, iż przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy RODO.</li>
        <li>Podanie przez Pana/Panią danych osobowych jest dobrowolne, ale konieczne dla przeprowadzenia procesu recenzyjnego i&nbsp;wydawniczego.</li>
        <li>Pani/Pana dane nie będą poddawane zautomatyzowanym decyzjom, w&nbsp;tym profilowaniu.</li>
        <li>Pani/Pana dane osobowe mogą zostać powierzone podmiotom przetwarzającym dane osobowe na zlecenie Administratora, których zaangażowanie jest niezbędne do przeprowadzenia procesu recenzyjnego i wydawniczego oraz promocji publikacji naukowych (w tym autorom, recenzentom, tłumaczom, grafikom, redaktorom, składaczom, fotografom, podmiotom świadczącym usługi drukarskie, usługi dystrybucji i&nbsp;promocji). Podstawą będzie umowa zawarta na piśmie.</li>
        <li>Wydawnictwo będzie przekazywać dane osobowe do państwa trzeciego lub organizacji międzynarodowej, jeśli będzie to służyło dystrybucji i&nbsp;promocji publikacji naukowych. Dane osobowe mogą również zostać udostępnione organom uprawnionym na podstawie przepisów prawa.</li>
    </ol>
</div>
