<cza-album>

  <!-- ALBUM-QUOTE -------------------------------------->
  <div class="album-quote">
    <p class="quote">
      Malarstwo Joanny Kossuth odbieram jako niezwykłe, magiczne piękno. (...) patrzymy na nie jak na zaklętą na
      płótnach poruszającą poezję.
    </p>
    <p class="quote-author-name">prof. Jerzy Woy-Wojciechowski</p>
    <p class="quote-author-info">
      Znany kolekcjoner dzieł sztuki i antyków. Kompozytor ponad 200 piosenek, w tym tak popularnych jak "Kormorany".
      Prezes Polskiego Towarzystwa Lekarskiego
    </p>
    <p class="quote-source">
      [w:] Galeria Farmapress, Joanna Kossuth, Wydawnictwo Farmapress, s. 5
    </p>
  </div>

  <!-- ALBUM-ARTIST -------------------------------------->
  <span class="album-artist">
    W ramach projektu proponujemy Państwu album artystki <br>
    <strong>Joanny Kossuth</strong>, <br>
    współpracującej z farmaceutami oraz "Czasopismem Aptekarskim".
  </span>

  <!-- ALBUM-DESCRIPTION -------------------------------------->
  <div class="album-description">
    <p>
      Objętość albumu 40 stron, format 205x285 mm, oprawa twarda, lakierowana.
    </p>
  </div>

</cza-album>