<div>
  <p><strong>SZANOWNI CZYTELNICY</strong></p>
  <p><strong>Zapraszamy do prenumeraty "Czasopisma Aptekarskiego" na rok 2020</strong></p>

  <p>
    W ramach całorocznej prenumeraty otrzymają Państwo także XXVII edycję książkowego wydania
    <strong>"Farmaceutycznego Poradnika Kalendarza na rok 2020"</strong>,
    który zawiera m.in. Angielski w praktyce aptecznej. Dialogi przy pierwszym stole.
  </p>

  <p>Koszt całorocznej prenumeraty wynosi <span class="important">210 zł</span> (w tym VAT 5%).</p>

  <p>
    Istnieje także możliwość zaprenumerowania "CzA"<br>
    na I półrocze (od nr 1 do 6-7) - koszt <span class="important">126 zł</span> (w tym VAT 5%)<br>
    i II półrocze (od nr 8-9 do 12) - koszt <span class="important">94,50 zł</span> (w tym VAT 5%)
  </p>

  <p>
    <strong>Wpłat należy dokonywać w formie elektronicznej przelewem na konto:</strong><br>
    <span class="important">13 1130 1017 0200 0000 0005 1195</span><br>
    z podaniem dokładnych danych do faktury na adres:<br>
    <strong><a href="mailto:zamowienie@cza.pl">zamowienie@cza.pl</a></strong>
  </p>

  <p>
    Po dokonaniu wpłaty otrzymają Państwo fakturę (przypominamy, że można ją rozliczyć w kosztach prowadzonej firmy).
  </p>

  <p>Prenumeratę można zamawiać tylko przez Redakcję "CzA".</p>

  <p>
    <strong>
      Wszelkie pytania prosimy kierować:<br>
      e-mail: <a href="mailto:zamowienie@cza.pl">zamowienie@cza.pl</a>
    </strong>
  </p>
</div>