p {
  font-size: 1em;
  text-align: center;
  margin: 0.8em 0;
}

.important {
  color: red;
  font-size: larger;
}

a {
  text-decoration: underline;
}

@media only screen and (min-width: 780px) {
  div {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #734a00;
  }
}

@media only screen and (min-width: 1200px) {
  div {
    padding: 0 2em;
  }
}
