<div>
  <p><strong>SZANOWNI CZYTELNICY</strong></p>
  <p><strong>Zapraszamy do prenumeraty "Czasopisma Aptekarskiego" na rok 2021</strong></p>

  <p>
    W ramach całorocznej prenumeraty, otrzymają Państwo także w prezencie wybrany album z serii Galeria Farmapress (do
    wyczerpania zapasów).
  </p>

  <p>Koszt całorocznej prenumeraty wynosi <span class="important">216,00 zł</span> (w tym VAT 8%).</p>

  <p>
    Istnieje także możliwość zaprenumerowania "CzA"<br>
    na I półrocze (od nr 1 do 6-7) - koszt <span class="important">129,60 zł</span> (w tym VAT 8%)
  </p>

  <!-- <br>
    i II półrocze (od nr 8-9 do 12) - koszt <span class="important">97,20 zł</span> (w tym VAT 8%) -->

  <p>
    <strong>Wpłat należy dokonywać w formie elektronicznej przelewem na konto:</strong><br>
    <span class="important">13 1130 1017 0200 0000 0005 1195</span><br>
    z podaniem dokładnych danych do faktury na adres:<br>
    <strong><a href="mailto:cza@cza.pl">cza@cza.pl</a></strong>
  </p>

  <p>
    Po dokonaniu wpłaty otrzymają Państwo fakturę (przypominamy, że można ją rozliczyć w kosztach prowadzonej firmy).
  </p>

  <p>Prenumeratę można zamawiać tylko przez Redakcję "CzA".</p>

  <p>
    <strong>
      Wszelkie pytania prosimy kierować na e-mail: <a href="mailto:cza@cza.pl">cza@cza.pl</a>
    </strong>
  </p>
</div>