<div>
  <p><strong>SZANOWNI CZYTELNICY</strong></p>
  <p><strong>Zapraszamy do prenumeraty "Czasopisma Aptekarskiego" na rok 2022</strong></p>

  <p>
    W sprawie prenumeraty "Czasopisma Aptekarskiego" na rok 2022 prosimy kontaktować się z redakcją: <strong><a href="mailto:cza@cza.pl">cza@cza.pl</a></strong>
  </p>

  <p>Prenumeratę można zamawiać tylko przez Redakcję "CzA".</p>

  <p>
    <strong>
      Wszelkie pytania prosimy kierować na e-mail: <a href="mailto:cza@cza.pl">cza@cza.pl</a>
    </strong>
  </p>
</div>