<div>
  <section>
    <h3>Adres Redakcji</h3>
    <p>ul. Obarowska 23/2, 04-337 Warszawa, Box 81</p>
    <p>
      tel./fax 22 879-92-62<br>
      fax całodobowy 22 879-92-32<br>
      e-mail: cza@cza.pl<br>
    </p>
  </section>

  <section>
    <h3>
      Wydawca, Redaktor Naczelny<br>
      Wiktor Szukiel
    </h3>
    <p>
      tel. 22 879-92-62<br>
      tel. kom. 601 282-404
    </p>
  </section>

  <section>
    <p><strong>NIP</strong>: 113-010-14-96</p>
    <p>
      <strong>Konto</strong>: mBank <strong>45 1140 2004 0000 3502 8438 9922</strong>
    </p>
  </section>
</div>