<cza-album>

  <!-- ALBUM-QUOTE -------------------------------------->
  <div class="album-quote">
    <p class="quote">
      Jej prace (Agaty Słyk - przyp. red.) wzbogacają polską sztukę sakralną. Widać w nich coraz pewniejszą rękę i coraz
      bogatsze przesłanie religijne. W tym miejscu nasuwa się skojarzenie z drogą artystyczną Jerzego Nowosielskiego,
      zmarłego przed kilku laty krakowskiego geniusza sztuki sakralnej i jednego z najwybitniejszych malarzy Polski
      powojennej.
    </p>
    <p class="quote-author-name">prof. Anita Magowska</p>
    <p class="quote-author-info">
      Kierownik Katedry i Zakładu Historii Nauk Medycznych Uniwersytetu Medycznego w Poznaniu, ekspert sztuki sakralnej
      i jej historii.
    </p>
    <p class="quote-source">
      [w:] Galeria Farmapress, Agata Słyk, Wydawnictwo Farmapress, s. 5
    </p>
  </div>

  <!-- ALBUM-ARTIST -------------------------------------->
  <span class="album-artist">
    W ramach projektu proponujemy Państwu album artystki <br>
    <strong>Agaty Słyk</strong>, <br>
    farmaceutki współpracującej z "Czasopismem Aptekarskim".
  </span>

  <!-- ALBUM-DESCRIPTION -------------------------------------->
  <div class="album-description">
    <p>
      Objętość albumu 40 stron, format 205x285 mm, oprawa twarda, lakierowana.
    </p>
  </div>

</cza-album>