:host > div {
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 3px 3px 2px #5555;
  margin-bottom: 0.6em;
  transition: background-color 0.2s;
}

:host > div:hover {
  background-color: var(--main-color-less-lighter);
}

a {
  display: block;
  padding: 0.5em;
  color: var(--background-color);
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
}