:host > div {
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 3px 3px 2px #5555;
  padding: 0.5em 0.2em;
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
}

:host > div:hover {
  background-color: var(--main-color-less-lighter);
}

:host > div {
  margin-bottom: 0.6em;
}
