<cza-frame>
  <aside (click)="hideComponentSidebar()">
    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" <br> nr 12(360)/2023
      </header>

      <figure class="big">
        <a href="/assets/cza-2023/cza-2023-12/cza-2023-12-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2023/cza-2023-12/cza-2023-12-cover-small.gif" alt="okładka Czasopisma Aptekarskiego">
        </a>
      </figure>

      <footer>
        <!-- <div style="font-size: 0.82em; margin-bottom: 5px">
          Punktacja MEiN<br>
          20&nbsp;pkt. naukowych
        </div> -->

        <a routerLink="/table-of-contents">Spis treści</a>
      </footer>
    </cza-sidebar-card>

    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <figure class="big">
        <a href="/assets/cza-2023/cza-2023-12/cza-2023-12-IV-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2023/cza-2023-12/cza-2023-12-IV-cover-small.gif" alt="IV str. okładki 'CzA'">
        </a>
      </figure>

      <footer>
        IV str. okładki "CzA"&nbsp;12/2023
      </footer>
    </cza-sidebar-card>
  </aside>
</cza-frame>