<cza-frame>
  <aside (click)="hideComponentSidebar()">
    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" <br> nr 7,8,9<br>(367,368,369)<br>2024
      </header>

      <figure class="big">
        <a href="/assets/cza-2024/cza-2024-7,8,9/cza-2024-7,8,9-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2024/cza-2024-7,8,9/cza-2024-7,8,9-cover-small.gif" alt="okładka Czasopisma Aptekarskiego">
        </a>
      </figure>

      <footer>
        <!-- <div style="font-size: 0.82em; margin-bottom: 5px">
          Punktacja MEiN<br>
          20&nbsp;pkt. naukowych
        </div> -->

        <a routerLink="/table-of-contents">Spis treści</a>
      </footer>
    </cza-sidebar-card>

    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" <br> nr 5,6,7<br>(364,365,366)<br>2024
      </header>

      <figure class="big">
        <a href="/assets/cza-2024/cza-2024-4,5,6/cza-2024-4,5,6-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2024/cza-2024-4,5,6/cza-2024-4,5,6-cover-small.gif" alt="okładka 'CzA' nr 4,5,6/2024">
        </a>
      </figure>

      <!-- <footer>
        Okładka "CzA"&nbsp;4,5,6/2024
      </footer> -->
    </cza-sidebar-card>
  </aside>
</cza-frame>