<cza-frame>
  <aside (click)="hideComponentSidebar()">

    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" nr 11,12<br>(371,372)<br>2024
      </header>

      <figure class="big">
        <a href="/assets/cza-2024/cza-2024-11,12/cza-2024-11,12-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2024/cza-2024-11,12/cza-2024-11,12-cover-small.png" alt="okładka Czasopisma Aptekarskiego">
        </a>
      </figure>

      <footer>
        <!-- <div style="font-size: 0.82em; margin-bottom: 5px">
          Punktacja MEiN<br>
          20&nbsp;pkt. naukowych
        </div> -->

        <a routerLink="/table-of-contents">Spis treści</a>
      </footer>
    </cza-sidebar-card>

    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" nr 10<br>(370)<br>2024
      </header>

      <figure class="big">
        <a href="/assets/cza-2024/cza-2024-10/cza-2024-10-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2024/cza-2024-10/cza-2024-10-cover-small.png" alt="okładka 'CzA' nr 10/2024">
        </a>
      </figure>

    </cza-sidebar-card>

    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" <br> nr 7,8,9<br>(367,368,369)<br>2024
      </header>

      <figure class="big">
        <a href="/assets/cza-2024/cza-2024-7,8,9/cza-2024-7,8,9-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2024/cza-2024-7,8,9/cza-2024-7,8,9-cover-small.gif" alt="okładka 'CzA' nr 7,8,9/2024">
        </a>
      </figure>

      <!-- <footer>
        Okładka "CzA"&nbsp;7,8,9/2024
        <div style="font-size: 0.82em; margin-bottom: 5px">
          Punktacja MEiN<br>
          20&nbsp;pkt. naukowych
        </div>
      </footer> -->
    </cza-sidebar-card>

    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" <br> nr 4,5,6<br>(364,365,366)<br>2024
      </header>

      <figure class="big">
        <a href="/assets/cza-2024/cza-2024-4,5,6/cza-2024-4,5,6-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2024/cza-2024-4,5,6/cza-2024-4,5,6-cover-small.gif" alt="okładka 'CzA' nr 4,5,6/2024">
        </a>
      </figure>

      <!-- <footer>
        Okładka "CzA"&nbsp;4,5,6/2024
      </footer> -->
    </cza-sidebar-card>

    <!-- sidebar-card start -------------------------->
    <cza-sidebar-card>
      <header>
        "CzA" <br> nr 1,2,3<br>(361,362,363)<br>2024
      </header>

      <figure class="big">
        <a href="/assets/cza-2024/cza-2024-1,2,3/cza-2024-1,2,3-cover.pdf" target="_blank" rel="noopener noreferrer">
          <img src="/assets/cza-2024/cza-2024-1,2,3/cza-2024-1,2,3-cover-small.gif" alt="okładka 'CzA' nr 1,2,3/2024">
        </a>
      </figure>

      <!-- <footer>
        Okładka "CzA"&nbsp;1,2,3/2024
      </footer> -->
    </cza-sidebar-card>
  </aside>
</cza-frame>