/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: #fff9c6;
  --background-color-lighter: #fdfadf;
  --main-color: #734a00;
  --main-color-lighter: #b97a00;
  --main-color-less-lighter: #8d5c00;
  --main-content-min-width: 300px;
}

body {
  margin: 8px;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);  
}

main p, main li {
  font-size: 0.95em;
  /* line-height: 1.2em; */
}

.mock {
  background-color: lightgrey;
  padding: 15px;
  border: 2px solid black;
}

a {
  color: var(--main-color);  
  text-decoration: none;
}

a:hover{
  color: var(--main-color-lighter);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.mr-2a {
  margin-right: 0.8rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-left {
  text-align: left;
}