/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #734a00;
  --main-color-lighter: #b97a00;
}

body {
  margin: 8px;
  background-color: #fff9c6;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);  
}

main p, main li {
  font-size: 0.95em;
  /* line-height: 1.2em; */
}

.mock {
  background-color: lightgrey;
  padding: 15px;
  border: 2px solid black;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  color: var(--main-color);  
  text-decoration: none;
}

a:hover{
  color: var(--main-color-lighter);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.mr-1 {
  margin-right: 0.8em;
}

.ml-1 {
  margin-left: 0.8em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.mt-1 {
  margin-top: 0.5em;
}

.fl {
  float: left;
}

.fr {
  float: right;
}