/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 8px;
  background-color: #fff9c6;
  font-family: Arial, Helvetica, sans-serif;
  color: #734a00;  
}

.mock {
  background-color: lightgrey;
  padding: 15px;
  border: 2px solid black;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 2px solid red;
}

a {
  color: #734a00;  
  text-decoration: none;
}

a:hover{
  color: #b97a00;
}
