<cza-album>

  <!-- ALBUM-QUOTE -------------------------------------->
  <div class="album-quote">
    <p class="quote">
      Jest w tych zdjęciach nieco nostalgii za czasami kolonializmu, z ich brawurowym odkrywaniem nowych lądów i
      nieznanych gatunków.
    </p>
    <p class="quote-author-name">prof. Anita Magowska</p>
    <p class="quote-author-info">
      Koneser sztuki, malarka roślin leczniczych.
    </p>
    <p class="quote-source">
      [w:] Galeria Farmapress, Jerzy Jambor, Wydawnictwo Farmapress, s. 5
    </p>
  </div>

  <!-- ALBUM-ARTIST -------------------------------------->
  <span class="album-artist">
    W ramach projektu proponujemy Państwu album <br>
    <strong>dr. n. farm. Jerzego Jambora</strong>, <br>
    współpracującego z farmaceutami oraz "Czasopismem Aptekarskim".
  </span>

  <!-- ALBUM-DESCRIPTION -------------------------------------->
  <div class="album-description">
    <p>
      Objętość albumu 40 stron, format 205x285 mm, oprawa szyta, twarda, lakierowana.
    </p>
  </div>

</cza-album>