:host > div {
  height: 100%;
}

.cza-frame {
  display: grid;
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 15px auto 15px;
  grid-template-areas: 
    "top-left top-center top-right"
    "middle-left middle-center middle-right"
    "bottom-left bottom-center bottom-right";
}

.top-left, .top-center, .top-right, .bottom-left, .bottom-center, .bottom-right {
  background-repeat: repeat-x;
}

.middle-left, .middle-center, .middle-right {
  background-repeat: repeat-y;
}

.top-left {
  grid-area: top-left;
  background-image: url(/assets/images/permanent/frame-corner-top-left.gif);
  background-size: auto 100%;
}

.top-center {
  grid-area: top-center;
  background-image: url(/assets/images/permanent/frame-top.gif);
}

.top-right {
  grid-area: top-right;
  background-image: url(/assets/images/permanent/frame-corner-top-right.gif);
}

.middle-left {
  grid-area: middle-left;
  background-image: url(/assets/images/permanent/frame-side-left.gif);
}

.middle-center {
  grid-area: middle-center;
  position: relative;
  bottom: 1px;
  right: 1px;
}

.middle-right {
  grid-area: middle-right;
  background-image: url(/assets/images/permanent/frame-side-right.gif);
}

.bottom-left {
  grid-area: bottom-left;
  background-image: url(/assets/images/permanent/frame-corner-bottom-left.gif);
}

.bottom-center {
  grid-area: bottom-center;
  background-image: url(/assets/images/permanent/frame-bottom.gif);
}

.bottom-right {
  grid-area: bottom-right;
  background-image: url(/assets/images/permanent/frame-corner-bottom-right.gif);
}