<div>
  <h3>Regulamin dla Autorów publikacji naukowych w&nbsp;"Czasopiśmie&nbsp;Aptekarskim"</h3>

  <section>
    <h4>I</h4>
    <p>
      Na łamach czasopism zamieszczane są artykuły naukowe (prace doświadczalne, poglądowe), artykuły popularnonaukowe,
      wywiady, rozmowy, relacje z kongresów, konferencji, zjazdów naukowych, sympozjów i szkoleń, informacje, biografie,
      omówienia nowości wydawniczych, streszczenia prac magisterskich, doktorskich i habilitacyjnych, a także przeglądy
      prasy specjalistycznej i fotoreportaże.
    </p>
    <p>
      Ponadto publikowane są komentarze z zakresu Prawa farmaceutycznego, opisy nowych procedur laboratoryjnych,
      klinicznych, wytwarzania i dystrybucji.
    </p>
    <p>
      Zamieszczane są również informacje naukowe z praktycznej realizacji Dobrej Praktyki: Laboratoryjnej, Klinicznej,
      Wytwarzania, Dystrybucyjnej i Aptecznej.
    </p>
  </section>

  <section>
    <h4>II</h4>
    <p>
      Wszystkie formy i rodzaje zamieszczanych publikacji muszą być przygotowane zgodnie z obowiązującymi zasadami
      Deklaracji Helsińskiej w sprawie m.in. zasad etycznego postępowania w eksperymencie medycznym z udziałem ludzi,
      przyjętej przez 18. Walne Zgromadzenie Światowego Stowarzyszenia Lekarzy w Helsinkach w czerwcu 1964 r. (z
      dalszymi
      poprawkami przyjętymi na 52. zgromadzeniu w Edynburgu w październiku 2000 r.), ustawy Prawo farmaceutyczne,
      stanowiska
      Światowego Stowarzyszenia Lekarzy (WMA) w sprawie roboczych kontaktów między lekarzami i farmaceutami w zakresie
      farmakoterapii, przyjęte przez 51. Światowe Zgromadzenie Lekarzy w Tel Avivie w październiku 1999 r. oraz zasadami
      etyki medycznej i farmaceutycznej.
    </p>
  </section>

  <section>
    <h4>III</h4>
    <p>
      Artykuły naukowe nie mogą przekraczać 16 tysięcy znaków (tj. 9 stron standardowego tekstu) i powinny dotyczyć:
    </p>

    <ol type="a">
      <li>
        Prac doświadczalnych i klinicznych - wstęp, opis materiału i metod, wyniki badań i ich omówienie, wnioski oraz
        piśmiennictwo.
      </li>
      <li>
        Prac poglądowych - wstęp, opis materiału, wnioski oraz piśmiennictwo.
      </li>
    </ol>

    <p>
      Wszystkie artykuły naukowe powinny zawierać streszczenie w języku polskim i angielskim (od 300 do 400 znaków
      każde) oraz tytuł w języku angielskim, słowa kluczowe (od 4 do 9 zgodnie z Medical Subject Headings - MeSH, w
      języku polskim i angielskim), noty biograficzne autorów (do 300 znaków) i piśmiennictwo wykorzystanych publikacji
      w kolejności cytowania z uwzględnieniem następującej formy, np.:
    </p>

    <ul>
      <li>
        artykuły: Głowniak K., Mroczek T., Zobel A.M.: <em>Seasonal changes in the concentrations of four taxoids in
          Taxus baccata L. during the autumn-spring period.</em> Phytomedicine, 1999, 6, 135-140 (w przypadku większej
        niż trzech liczby autorów należy podać nazwisko pierwszego z nich z dopiskiem "i wsp.")
      </li>
      <li>książki: Winthrobe, M.M., <em>Clinical Hematology</em>, 4th ed., Lea & Febiger, Philadelphia, 1978, 32.</li>
      <li>
        rozdział w książce: Butler J.M.: <em>Separation of DNA restriction fragments and PCR products. In: Heller
          C. (ed) Analysis of nucleid acids by capillary electrophoresis.</em> Vieweg, Germany, 1997, pp. 195-217.
      </li>
    </ul>

    <p>
      Należy także określić wkład autorski przy dwóch i większej liczbie autorów (np. odpowiedzialność za rzetelność
      danych,
      odpowiedzialność za poprawność analizy i interpretacji danych, napisanie i opracowanie tekstu, nadzór naukowy,
      własne
      wykonanie rysunków, tabel, wzorów chemicznych, wykresów, zdjęć itp.). Zasady te dotyczą również artykułów w języku
      angielskim.
    </p>
    <p>
      Przesłany materiał powinien zawierać adres do korespondencji autora wiodącego, jego miejsce pracy naukowej, numer
      telefonu i adres poczty elektronicznej oraz datę zakończenia pracy nad artykułem.
    </p>
  </section>

  <section>
    <h4>v</h4>
    <p>
      Artykuły należy przesyłać w formie elektronicznej na adres: cza@cza.pl i w formie wydruku komputerowego wraz z
      materiałem ikonograficznym na płycie CD (JPG) pod adresem redakcji "Czasopisma Aptekarskiego", ul. Obarowska 23/2,
      04-337 Warszawa box 81 (zwykłym priorytetem).
    </p>
  </section>

  <section>
    <h4>V</h4>
    <p>
      Artykuły naukowe są recenzowane. Do oceny każdego artykułu powołuje się co najmniej dwóch niezależnych recenzentów
      spoza redakcji. W przypadku tekstów powstałych w języku obcym, co najmniej jeden z recenzentów jest afiliowany w
      instytucji zagranicznej innej niż narodowość autora pracy. Recenzja ma formę pisemną i kończy się jednoznacznym
      wnioskiem o dopuszczeniu lub odrzuceniu artykułu. Przy pozytywnej ocenie artykułu następuje zwolniene jego do
      druku
      po
      decyzji Redaktora Naczelnego, o czym Autor jest powiadamiany pisemnie wraz z drukiem do podpisu oświadczenia
      następującej treści:
    </p>
    <p>
      "Ja niżej podpisany oświadczam, że artykuł, który przekazałem do druku Wydawnictwu Farmapress, nie był nigdzie
      publikowany, a po opublikowaniu w "Czasopiśmie Aptekarskim" nie będzie skierowany do druku w innych tytułach i
      innych
      wydawnictwach oraz wykorzystywany w prezentacjach multimedialnych bez zgody Wydawnictwa Farmapress".
    </p>
    <p>
      Przy recenzowaniu artykułów naukowych redakcja kieruje się "Dobrą Praktyką w Procedurach Recenzyjnych w Nauce"
      opracowaną przez Ministerstwo Nauki i Szkolnictwa Wyższego i zamieszczoną na stronach <a
        href="https://www.gov.pl/web/nauka">www.gov.pl/web/nauka</a>
    </p>
    <p>
      Szczegółowe zasady recenzowania artykułów naukowych udostępniane są w formie pisemnej na indywidualne życzenie
      autorów artykułów naukowych.
    </p>
  </section>

  <section>
    <h4>VI</h4>
    <p>
      Redakcja zastrzega sobie prawo dokonywania skrótów, adiustacji tekstów i wyboru do druku nadesłanego materiału
      ikonograficznego.
    </p>
  </section>

  <section>
    <h4>VII</h4>
    <p>
      Wydawca "Czasopisma Aptekarskiego" nabywa na wyłączność prawa autorskie do opublikowanych prac, które mają
      pierwszeństwo publikacji przez Wydawcę, również w formie reprintu i w internecie.
    </p>
  </section>

  <footer>Redakcja</footer>
</div>